

<app-abm [title]="'SETTINGS.USERS.TITLE'"
         [fetcher]="fetcher"
         [fetcherSave]="fetcherSave"
         [fetcherDelete]="fetcherDelete"
         [formTemplate]="formTemplate"
         [viewTemplate]="viewTemplate"
         [defaultForm]="defaultForm"
         [form]="formABM"
         [columns]="columns">
</app-abm>


<ng-template #formTemplate>
  <form [formGroup]="formABM">

    <div>
      <label for="name">
        {{'SETTINGS.USERS.COLUMNS.NAME'|translate}}
      </label>
      <input nz-input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="username">
        {{'SETTINGS.USERS.COLUMNS.USERNAME'|translate}}
      </label>
      <input nz-input id="username" type="text" formControlName="username">
    </div>

    <div>
      <label for="password">
        {{'SETTINGS.USERS.COLUMNS.PASSWORD'|translate}}
      </label>
      <input nz-input id="password" type="text" formControlName="password">
    </div>

  </form>
</ng-template>

<ng-template #viewTemplate let-visibleObject>
  <ng-container *ngIf="visibleObject">
    <div>
      <span>
        {{'SETTINGS.USERS.COLUMNS.NAME'|translate}}
      </span>
      {{visibleObject.name}}
    </div>

    <div>
      <span>
        {{'SETTINGS.USERS.COLUMNS.USERNAME'|translate}}
      </span>
      {{visibleObject.username}}
    </div>

    <div>
      <span>
        {{'SETTINGS.USERS.COLUMNS.PASSWORD'|translate}}
      </span>
      {{visibleObject.password}}
    </div>
  </ng-container>
</ng-template>
