<app-page-loader-bouncing [loading]="loading"></app-page-loader-bouncing>
<div class="inner-content mb-20">
  <div class="inner-content fit-height mb-20" style="min-height: 300px;">
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px">
      <app-title-divider title="{{'Ultimas transacciones' |translate}}"></app-title-divider>
      <button nz-button (click)="openDrawer('drawerTransaction')">
        {{'Crear transaccion'|translate}}
      </button>
    </div>

    <nz-table [nzSize]="'small'" [nzScroll]="{ x: '700px' }" #basicTable [nzData]="transactions">
      <thead>
      <tr>
        <th class="table-th" [class.numeric]="column.type === 'numeric'"
            *ngFor="let column of columns">{{column.title | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td class="table-td" *ngFor="let column of columns" [class.numeric]="column.type === 'numeric'">
          {{ column.valueFormatter ? column.valueFormatter(item, column) : item[column.key] }}
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskStyle]="{ backgroundColor: '#0000006e' }"
  [nzMaskClosable]="true"
  [nzWidth]="500"
  [nzVisible]="drawerTransaction"
  [nzTitle]="'CREAR TRANSACCION'"
  (nzOnClose)="closeDrawer('drawerTransaction')"
>
  <div class="drawer-transaction">
    <ng-container *ngIf="formTransaction">
      <form [formGroup]="formTransaction">
        <nz-divider style="margin-top: 0" class="title" [nzText]="'Origen'" nzOrientation="left"></nz-divider>
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <nz-select style="width: 100%;" (ngModelChange)="onChangeOrigen($event)" nzPlaceHolder="Seleccione un origen" formControlName="originObject">
              <nz-option [nzLabel]="'Consorcio'" [nzValue]="originObjectEnum.Consortium"></nz-option>
              <nz-option [nzLabel]="'Banca'" [nzValue]="originObjectEnum.Banking"></nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="12">
            <ng-container *ngIf="formTransaction.value.originObject === originObjectEnum.Consortium">
              <nz-select (ngModelChange)="onChangeOrigenId($event)" style="width: 100%;" nzPlaceHolder="Seleccione un consorcio" formControlName="originId">
                <nz-option *ngFor="let consortium of consortiums"
                           [nzLabel]="consortium.name"
                           [nzValue]="consortium._id"></nz-option>
              </nz-select>
            </ng-container>
            <ng-container *ngIf="formTransaction.value.originObject === originObjectEnum.Banking">
              <nz-select (ngModelChange)="onChangeOrigenId($event)" style="width: 100%;" nzPlaceHolder="Seleccione una banca" formControlName="originId">
                <nz-option *ngFor="let banking of bankings"
                           [nzLabel]="banking.name"
                           [nzValue]="banking._id"></nz-option>
              </nz-select>
            </ng-container>
          </div>
        </div>
        <nz-divider class="title" [nzText]="'Destino'" nzOrientation="left"></nz-divider>
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
            <nz-select [nzDisabled]="true"
                       style="width: 100%;"
                       (ngModelChange)="onChangeDestination($event)"
                       nzPlaceHolder="Seleccione un destino"
                       formControlName="destinationObject">
              <nz-option [nzLabel]="'Consorcio'" [nzValue]="destinationObjectEnum.Consortium"></nz-option>
              <nz-option [nzLabel]="'Banca'" [nzValue]="destinationObjectEnum.Banking"></nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="12">
            <ng-container *ngIf="formTransaction.value.destinationObject === destinationObjectEnum.Consortium">
              <nz-select
                [nzDisabled]="!formTransaction.value.originId"
                style="width: 100%;" nzPlaceHolder="Seleccione un consorcio" formControlName="destinationId">
                <nz-option *ngFor="let consortium of getFilteredConsortiums()"
                           [nzLabel]="consortium.name"
                           [nzValue]="consortium._id"></nz-option>
              </nz-select>
            </ng-container>
            <ng-container *ngIf="formTransaction.value.destinationObject === destinationObjectEnum.Banking">
              <nz-select
                [nzDisabled]="!formTransaction.value.originId"
                style="width: 100%;" nzPlaceHolder="Seleccione una banca" formControlName="destinationId">
                <nz-option *ngFor="let banking of getFilteredBankings()"
                           [nzLabel]="banking.name"
                           [nzValue]="banking._id"></nz-option>
              </nz-select>
            </ng-container>
          </div>
        </div>

        <nz-divider class="title" [nzText]="'Monto'" nzOrientation="left"></nz-divider>

        <nz-input-number style="margin-bottom: 10px; width: 100%" formControlName="amount" [nzMin]="1"></nz-input-number>

      </form>
      <div style="width: 100%; text-align: center">
        <button nz-button [nzLoading]="loading" [disabled]="formTransaction && !formTransaction.valid || loading" (click)="onClickAccept()">{{'Aceptar'|translate}}</button>
      </div>
    </ng-container>
  </div>
</nz-drawer>
