.search-box{
  padding: 10px;
  input, nz-date-picker, nz-select{
    margin-bottom: 5px;
    min-width: 175px;
  }
  nz-select{
    width: 100%;
  }

  .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
