<nz-filter-trigger [(nzVisible)]="visibleFilter[column.key]"
                   [nzActive]="isActive()"
                   [nzDropdownMenu]="filterMenu">
  <i nz-icon nzType="search"></i>
</nz-filter-trigger>
<nz-dropdown-menu #filterMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box" *ngIf="!column.searchType || column.searchType === 'string'">
      <input [(ngModel)]="filterValue[column.key]" nz-input [placeholder]="'UTILS.SEARCH'|translate" type="text"/>
      <div class="actions">
        <button (click)="search(column.key)" class="search-button" nz-button nzSize="small" nzType="primary">
          {{'UTILS.SEARCH'|translate}}
        </button>
        <button (click)="reset(column.key)" nz-button nzSize="small">{{'UTILS.CLEAN'|translate}}</button>
      </div>
    </div>
    <div class="search-box" *ngIf="column.searchType === 'date'">
      <nz-date-picker [(ngModel)]="filterValue[column.key]" [nzPlaceHolder]="'UTILS.SEARCH'|translate"></nz-date-picker>
      <div class="actions">
        <button (click)="search(column.key, column.searchType)" class="search-button" nz-button nzSize="small" nzType="primary">
          {{'UTILS.SEARCH'|translate}}
        </button>
        <button (click)="reset(column.key, column.searchType)" nz-button nzSize="small">{{'UTILS.CLEAN'|translate}}</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
