<div [nzGutter]="8" nz-row>
  <div nz-col nzXl="18" nzXs="24">
    <nz-divider [nzText]="title" [style]="" class="title" nzOrientation="left" style="margin-top: 0"></nz-divider>
    <div class="help-widget" style="background-color: #eff2ea; color: black">
      <div [nzGutter]="8" nz-row>
        <div nz-col nzXl="18" nzXs="24" class="play">
          <p class="start">COMENZAR A JUGAR</p>
        </div>
        <div nz-col nzXl="6" nzXs="24">
          <img src="assets/imgs/moneygrow.gif" alt="Money">
        </div>
      </div>
    </div>
    <div class="help-widget balls">
      <p>Numeros aleatorios</p>
      <app-page-loader [loading]="true"></app-page-loader>
    </div>

  </div>
  <div nz-col nzXl="6" nzXs="24">
    <app-widget [backgroundColor]="'green'"
                [icon]="'fund'"
                [title]="'HOME.DASHBOARD.BALANCE' | translate | uppercase"
                [value]="balance"></app-widget>
    <div class="help-widget">
      <p>Para cargar tu balance a tu cuenta deberas pedirle a tu banquero</p>
      <img src="assets/imgs/money.gif" alt="Money">
    </div>
  </div>
</div>


<ng-template #title>
  <h2>Bienvenido a la banca de ...</h2>
</ng-template>
