<app-page-loader-bouncing  [loading]="loading"></app-page-loader-bouncing>
<div style="padding: 10px">
  <div class="buttons">
    <div class="bets" (click)="gotoBets()">
      <h4>APUESTAS</h4>
      <app-page-loader  [size]="'small'" [loading]="true"></app-page-loader>
    </div>
    <div class="transactions" (click)="gotoTransactions()">
      <h4>TRANSACCIONES</h4>
    </div>
  </div>

  <h2 class="title-divider">Loterias</h2>
  <p *ngIf="lotteries.length === 0 && !loading" style="text-align: center;color: #ddd">No hay loterias disponibles</p>
  <div class="lottery" (click)="(lottery.status && lottery.leftTime > 0) && goToLottery(lottery)" *ngFor="let lottery of lotteries"
       [class.disabled]="!lottery.status || !lottery.leftTime">
    <div class="container-logo">
      <div class="logo">{{lottery.nickname && lottery.nickname.charAt(0)}}</div>
    </div>
    <div class="description">
      <h2 class="name">{{lottery.name}}</h2>
      <h3 class="time"><countdown style="color:#ddd" #cd (event)="onChangeCounter($event, lottery)" *ngIf="lottery.leftTime"
                                  [config]="{leftTime:lottery.leftTime}"></countdown><span *ngIf="lottery.leftTime"> - </span>{{lottery.playTime| date: 'HH:mm'}} </h3>

      <h3 class="time" *ngIf="!lottery.status || !lottery.leftTime">Cerrado</h3>
    </div>
  </div>
</div>
