
<div class="app">
  <app-page-loader-bouncing  [loading]="loading"></app-page-loader-bouncing>
  <div class="header">
    <div class="description">
      <h3 class="title">{{establishmentName}}</h3>
      <div style="text-align: right;padding-right: 13px;">
        <div class="balance-amount">${{balance}}</div>
        <p class="balance">Mi balance</p>
      </div>

    </div>

    <i class="logout" (click)="logout()" nz-icon nzType="logout"></i>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
