<div class="fit-height mb-20" style="min-height: 300px;">
  <app-abm [columns]="columns"
           [defaultForm]="defaultForm"
           [fetcher]="fetcher"
           [formTemplate]="formTemplate"
           [form]="formABM"
           [fetcherUpdate]="fetcherUpdate"
           [getValidators]="getValidators"
           [parseData]="parseData"
           [title]="'BANKINGS.TITLE'"
           [viewTemplate]="viewTemplate">
  </app-abm>

  <ng-template #formTemplate let-mode let-visibleObject="visibleObject">
    <form [formGroup]="formABM">

      <nz-divider [nzText]="visibleObject?.banking " class="title" nzOrientation="left"></nz-divider>

      <div class="form-element">
        <label for="dueBalance">
          {{'Monto'|translate}}
        </label>
        <nz-input-number
          [nzMin]="0"
          id="dueBalance"
          formControlName="dueBalance"
          style="width:100%">
        </nz-input-number>
      </div>
      <div class="form-element">
        <label for="isPayed">
          {{'Pagado'|translate}}
        </label>
        <nz-switch formControlName="isPayed" id="isPayed" style="padding-left: 10px"></nz-switch>
      </div>


      <!--      banking
            consortium
            week
            dueBalance
            isPayed-->
    </form>
  </ng-template>

  <ng-template #viewTemplate let-visibleObject>
    <ng-container *ngIf="visibleObject">
      <nz-divider [nzText]="visibleObject.banking " class="title" nzOrientation="left"></nz-divider>
      <nz-descriptions>
        <nz-descriptions-item [nzTitle]="'Consorcio'|translate">
          {{visibleObject.consortium}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'Semana'|translate">
          {{visibleObject.week}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'Monto'|translate">
          {{visibleObject.dueBalance}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'Pagado'|translate">
          {{(visibleObject.isPayed) ? ('SI'| translate) : ('NO' | translate)}}
        </nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
  </ng-template>

</div>
