<app-page-loader-bouncing [loading]="loading"></app-page-loader-bouncing>
<div class="fit-height mb-20" style="min-height: 300px;">
  <app-abm [columns]="columns"
           [title]="'TRANSACTIONS.TITLE'"
           [defaultForm]="defaultForm"
           [fetcher]="fetcher"
           [pagination]="true"
           [fetcherCreate]="fetcherCreate"
           [formTemplate]="formTemplate"
           [form]="formABM"
           [getValidators]="getValidators"
           [parseData]="parseData"
           [setValueForm]="setValueForm"
           [customColumns]="customColumns"
  >
  </app-abm>

  <ng-template let-column let-data="data" #customColumns>
    <ng-container [ngSwitch]="column.component">
      <span *ngSwitchCase="'amount'" [class.red]="column.type === 'numeric' && data[column.key] < 0">${{data[column.key]}}</span>
    </ng-container>
  </ng-template>


  <ng-template #formTemplate let-mode let-visibleObject="visibleObject">
    <form [formGroup]="formABM">
      <nz-divider [nzText]="'TRANSACTIONS.CREATE.ORIGIN' | translate" class="title" nzOrientation="left" style="margin-top: 0"></nz-divider>
      <div [nzGutter]="8" nz-row>
        <div [nzSpan]="12" nz-col>
          <nz-select (ngModelChange)="onChangeOrigen($event)" formControlName="originObject"
                     [nzPlaceHolder]="'TRANSACTIONS.CREATE.SELECT_ORIGIN'|translate" style="width: 100%;">
            <nz-option [nzLabel]="'TRANSACTIONS.CREATE.CONSORTIUM'|translate" [nzValue]="originObjectEnum.Consortium"></nz-option>
            <nz-option [nzLabel]="'TRANSACTIONS.CREATE.BANKING'|translate" [nzValue]="originObjectEnum.Banking"></nz-option>
          </nz-select>
        </div>
        <div [nzSpan]="12" nz-col>
          <ng-container *ngIf="formABM.value.originObject === originObjectEnum.Consortium">
            <nz-select (ngModelChange)="onChangeOrigenId($event)" formControlName="originId"
                       [nzPlaceHolder]="'TRANSACTIONS.CREATE.SELECT_CONSORTIUM'|translate" style="width: 100%;">
              <nz-option *ngFor="let consortium of consortiums"
                         [nzLabel]="consortium.name"
                         [nzValue]="consortium._id"></nz-option>
            </nz-select>
          </ng-container>
          <ng-container *ngIf="formABM.value.originObject === originObjectEnum.Banking">
            <nz-select (ngModelChange)="onChangeOrigenId($event)" formControlName="originId"
                       [nzPlaceHolder]="'TRANSACTIONS.CREATE.SELECT_BANKING'|translate" style="width: 100%;">
              <nz-option *ngFor="let banking of bankings"
                         [nzLabel]="banking.name"
                         [nzValue]="banking._id"></nz-option>
            </nz-select>
          </ng-container>
        </div>
      </div>
      <nz-divider [nzText]="'TRANSACTIONS.CREATE.DESTINATION' | translate" class="title" nzOrientation="left"></nz-divider>
      <div [nzGutter]="8" nz-row>
        <div [nzSpan]="12" nz-col>
          <nz-select (ngModelChange)="onChangeDestination($event)"
                     [nzDisabled]="true"
                     formControlName="destinationObject"
                     [nzPlaceHolder]="'TRANSACTIONS.CREATE.SELECT_DESTINATION'|translate"
                     style="width: 100%;">
            <nz-option [nzLabel]="'TRANSACTIONS.CREATE.CONSORTIUM'|translate" [nzValue]="destinationObjectEnum.Consortium"></nz-option>
            <nz-option [nzLabel]="'TRANSACTIONS.CREATE.BANKING'|translate" [nzValue]="destinationObjectEnum.Banking"></nz-option>
          </nz-select>
        </div>
        <div [nzSpan]="12" nz-col>
          <ng-container *ngIf="formABM.value.destinationObject === destinationObjectEnum.Consortium">
            <nz-select
              [nzDisabled]="!formABM.value.originId"
              formControlName="destinationId" [nzPlaceHolder]="'TRANSACTIONS.CREATE.SELECT_CONSORTIUM'|translate" style="width: 100%;">
              <nz-option *ngFor="let consortium of consortiums"
                         [nzLabel]="consortium.name"
                         [nzValue]="consortium._id"></nz-option>
            </nz-select>
          </ng-container>
          <ng-container *ngIf="formABM.value.destinationObject === destinationObjectEnum.Banking">
            <nz-select
              [nzDisabled]="!formABM.value.originId"
              formControlName="destinationId" [nzPlaceHolder]="'TRANSACTIONS.CREATE.SELECT_BANKING'|translate" style="width: 100%;">
              <nz-option *ngFor="let banking of bankings"
                         [nzLabel]="banking.name"
                         [nzValue]="banking._id"></nz-option>
            </nz-select>
          </ng-container>
        </div>
      </div>

      <nz-divider [nzText]="'TRANSACTIONS.CREATE.DESCRIPCION'|translate" class="title" nzOrientation="left"></nz-divider>

      <label>
        <input nz-input formControlName="description" style="margin-bottom: 10px; width: 100%"/>
      </label>

      <nz-divider [nzText]="'TRANSACTIONS.CREATE.AMOUNT'|translate" class="title" nzOrientation="left"></nz-divider>

      <nz-input-number [nzMin]="1" formControlName="amount"
                       style="margin-bottom: 10px; width: 100%"></nz-input-number>
    </form>
  </ng-template>
</div>
