<nz-drawer
  (nzOnClose)="close()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzMaskStyle]="{ backgroundColor: '#0000006e' }"
  [nzTitle]="nzTitle"
  [nzVisible]="nzVisible"
  nzWrapClassName="drawer-responsive"
>
  <div class="drawer">
    <ng-container *ngIf="loading">
      <div class="lottery-loading">
        <i nz-icon nzTheme="outline" nzType="loading"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="!loading && resumeSells">
      <div class="item"><b>Ganadores: </b><span>{{resumeSells.winner}}</span></div>
      <div class="item"><b>Perdedores: </b><span>{{resumeSells.loser}}</span></div>
      <div class="item"><b>Pendientes: </b><span>{{resumeSells.pending}}</span></div>
      <div class="item"><b>Reclamados: </b><span>{{resumeSells.claimed}}</span></div>
      <div class="item"><b>Expirados: </b><span>{{resumeSells.expired}}</span></div>
      <div class="item"><b>Cancelados: </b><span>{{resumeSells.cancelled}}</span></div>
      <div class="item"><b>Total tickets: </b><span>{{resumeSells.total}}</span></div>
      <div class="item"><b>Ganancias: </b><span>${{resumeSells.profits}}</span></div>
      <div class="item"><b>Premios (ganadores + reclamados): </b><span>${{resumeSells.prizes}}</span></div>
      <div class="item"><b>Premios pendientes: </b><span>${{resumeSells.pendingPrizes}}</span></div>
      <div class="item neto"><b>BALANCE:</b><span>${{resumeSells.balance}}</span></div>
    </ng-container>
  </div>
</nz-drawer>
