<app-page-loader-bouncing  [loading]="loading"></app-page-loader-bouncing>
<div class="header">
  <i class="goback" (click)="goBack()" nz-icon nzType="left"></i>
  <h2 class="title">TRANSACCIONES</h2>
</div>
<div style="padding: 10px; height: calc(100% - 120px); overflow-y: auto">
  <p *ngIf="transactions.length === 0 && !loading" style="text-align: center;color: #ddd">No hay transacciones</p>
  <div class="transaction" *ngFor="let transaction of transactions" (click)="openTransaction(transaction)">
    <div>
      <p class="amount">${{transaction.amount}}</p>
      <p class="date">{{transaction.createdAt| date: 'dd/MM/yyyy HH:mm:ss'}}</p>
    </div>
    <div class="icon-container">
      <p class="balance">Balance: {{transaction.actualBalance}}</p>
      <i nz-icon class="icon up" *ngIf="transaction.amount >= 0" nzType="up-circle" nzTheme="outline"></i>
      <i nz-icon class="icon down" *ngIf="transaction.amount < 0" nzType="down-circle" nzTheme="outline"></i>
    </div>
  </div>
</div>



<nz-modal
  [(nzVisible)]="modalConfirm"
  [nzContent]="modalContent"
  [nzTitle]="modalTitle"
  [nzFooter]="modalFooter"
  nzTitle="Modal"
>
  <ng-template #modalTitle>
    <ng-container *ngIf="selectedTransaction">Transaccion</ng-container>
  </ng-template>
  <ng-template #modalContent>
    <ng-container *ngIf="selectedTransaction">
      <p>Fecha: {{selectedTransaction.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
      <p>Monto: ${{selectedTransaction.amount}}</p>
      <p>Balance: ${{selectedTransaction.actualBalance}}</p>
      <p>Descripcion: {{selectedTransaction.description}}</p>
    </ng-container>
    <ng-container *ngIf="!selectedTransaction">
      <h3 style="text-align: center">Desea confirmar la apuesta?</h3>
    </ng-container>
  </ng-template>
  <ng-template #modalFooter>
    <div>
      <button nz-button (click)="closeTransaction()">CERRAR</button>
    </div>
  </ng-template>
</nz-modal>
