<div class="header">
  <i class="goback" (click)="goBack()" nz-icon nzType="left"></i>
  <h2 class="title">{{lottery.name}}</h2>
</div>
<div style="padding: 10px; height: calc(100% - 200px)">
  <div class="containers-input">
    <nz-input-number
      autofocus
      #inputNumber
      [nzMax]="999999"
      [nzMin]="0"
      (keyup.enter)="onKeyEnterNumber()"
      [(ngModel)]="number"
      [nzPlaceHolder]="'JUGADA'"
      class="right-input"
      style="width: 100%"></nz-input-number>
    <nz-input-number
      autofocus
      #inputAmount
      [nzMax]="limit"
      [nzMin]="1"
      (keyup.enter)="onKeyEnterAmount()"
      [(ngModel)]="amount"
      [nzPlaceHolder]="'MONTO'"
      class="right-input"
      style="width: 100%"></nz-input-number>
    <span (click)="onKeyEnter()" [class.disabled]="disabledBet()" class=" play-enter">
      <i nz-icon nzTheme="outline" [nzType]="loadingSearchLimit ? 'loading' : 'caret-right'"></i>
    </span>
  </div>
  <button nz-button class="submit-button" (click)="submitBet()" [disabled]="this.plays.length <= 0">CONFIRMAR</button>

  <div class="list">
    <div class="row-style panel-container header-list" nz-row>
      <div class="col-style center-column" nz-col nzSpan="6">Loteria</div>
      <div class="col-style center-column" nz-col nzSpan="7">Jugada</div>
      <div class="col-style center-column" nz-col nzSpan="7">Monto</div>
      <div class="col-style center-column last-column" nz-col nzSpan="4">
      </div>
    </div>
    <div *ngIf="plays.length === 0" style="height: calc(100% - 50px); display: flex; justify-content: center; align-items: center">
      <p style="color: #ccc">Ingresa una jugada y monto para hacer la apuesta</p>
    </div>
    <div class="bet" *ngFor="let bet of plays">
      <div class="row-style panel-container" nz-row>
        <div class="col-style center-column" nz-col nzSpan="6">{{bet.lotteryNickName}}</div>
        <div class="col-style center-column" nz-col nzSpan="7">{{showParsedNumbers(bet.playNumbers)}}</div>
        <div class="col-style center-column" nz-col nzSpan="7">${{bet.amount}}</div>
        <div class="col-style center-column last-column" nz-col nzSpan="4">
          <i (click)="deleteBet(bet)" class="action-icon error" nz-icon nzTheme="outline" nzType="delete"></i>
        </div>
      </div>
    </div>
  </div>
</div>
