<nz-layout class="layout game-layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0"
            [(nzCollapsed)]="isCollapsed"
            [style.background]="'url(' + urlBg + ') center no-repeat'"
            [style.backgroundSize]="'cover'"
            >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="assets/imgs/love-sports-betting-logo.png" alt="logo">
      </a>
    </div>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <a routerLink="/game/dashboard">{{'Balance' | translate}}</a>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="bars"></i>
        <span>Historial</span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="question" nzTheme="outline"></i>
        <a routerLink="/game/howitworks">{{'Como funciona' | translate}}</a>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="alert"></i>
        <span>Events</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="setting"></i>
        <span>settings</span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="logout"></i>
        <span routerLink="/authentication/login">Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="sidebar-logo sidebar-logo-header" *ngIf="isCollapsed">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="assets/imgs/love-sports-betting-logo.png" alt="logo">
        </a>
      </div>
    </nz-header>
    <nz-content class="nz-content-container">
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
