<div nz-row class="row-style panel-container">
  <div nz-col nzSpan="24" class="col-style header">
    <div class="left-side">
      <i nz-icon class="topbar-action" nzType="home" nzTheme="outline" routerLink="/"></i>
      <i nz-icon class="topbar-action" nzType="container" nzTheme="outline" (click)="openTickets()"></i>
      <i nz-icon class="topbar-action" nzType="question" nzTheme="outline" nz-dropdown [nzDropdownMenu]="helpDropdown"></i>
      <nz-dropdown-menu #helpDropdown="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="switchLotterys('A')">/ o * para cambiar de loterias</li>
          <li nz-menu-item (click)="cleanAll()">L para limpiar todo</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <div class="right-side">
      <span class="total">
        <i nz-icon nzType="shopping-cart" nzTheme="outline" style="margin-right: 5px"></i>
        TOTAL: ${{getSumBets(bets)}}
      </span>
      <span class="date">
        <i nz-icon nzType="clock-circle" nzTheme="outline" style="margin-right: 5px"></i>
        {{now | date: 'dd/MM/yyyy HH:mm:ss'}}
      </span>
    </div>
  </div>
  <div nz-col nzSpan="24" class="col-style panel-body">
    <div nz-row class="row-style panel-body-row">
      <div nz-col nzSpan="9" class="col-style column">
        <div class="left-panel">
          <div class="control-panel">
            <div class="play-insert">
              <input placeholder="NUMERO/S" oninput="this.value = this.value.match(/^(([0-9]+)?)+(\.|([Ss]+(([0-9]+)?)))?$/g)" autofocus #inputNumber nz-input [(ngModel)]="number"  class="left-input" (keyup.enter)="onKeyEnterNumber()"/>
              <input nz-input readonly class="center-input" disabled/>
              <input placeholder="MONTO" nz-input #inputAmount [type]="'number'" [(ngModel)]="amount" class="right-input" (keyup.enter)="onKeyEnter()"/>
              <span class="custom-button play-enter" [class.disabled]="!validateBet()" (click)="onKeyEnter()"><i nz-icon nzType="caret-right" nzTheme="outline"></i></span>
            </div>
            <span class="custom-button" [class.disabled]="this.bets.length <= 0" (click)="onKeyPrint()">
              <i nz-icon nzType="printer" nzTheme="outline"></i>
              CONFIRMAR E IMPRIMIR
            </span>
            <span class="custom-button clean-button" style="margin-left: 5px;" [class.disabled]="this.bets.length <= 0" (click)="cleanAll()">
              <i nz-icon nzType="rollback" nzTheme="outline"></i>
              LIMPIAR
            </span>
            <div style="margin-top: 10px;">

            </div>
          </div>
          <div class="lottery-panel">
            <div class="lottery-panel-header">
              <div nz-row class="row-style panel-container">
                <div nz-col nzSpan="12" class="col-style center-column">
                  LOTERIA
                </div>
                <div nz-col nzSpan="10" class="col-style center-column">
                  CIERRE
                </div>
                <div nz-col nzSpan="2" class="col-style center-column"></div>
              </div>
            </div>
            <div class="lottery-panel-body">
              <div class="lottery" [style]="{backgroundColor: lottery.color}" (click)="onChangeLottery(lottery, !this.selectedLotterys.includes(lottery.id))" *ngFor="let lottery of lotterys" [class.closed]="lottery.closed">
                <div nz-row class="row-style panel-container">
                  <div nz-col nzSpan="12" class="col-style">{{lottery.name}}</div>
                  <div nz-col nzSpan="10" class="col-style center-column">
                    <i nz-icon nzType="check-circle" style="margin-right: 5px" *ngIf="!lottery.closed" class="icon primary" nzTheme="outline"></i>
                    <i nz-icon nzType="lock" class="icon" nzTheme="outline" style="margin-right: 5px" *ngIf="lottery.closed"></i>
                    {{lottery.time}}
                  </div>
                  <div nz-col nzSpan="2" class="col-style center-column last-column">
                    <label nz-checkbox [nzChecked]="this.selectedLotterys.includes(lottery.id)" (nzCheckedChange)="onChangeLottery(lottery, $event)" [nzDisabled]="lottery.closed"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="last-plays-panel">
            <div class="last-plays-panel-header">
              <div nz-row class="row-style panel-container">
                <div nz-col nzSpan="24" class="col-style center-column">
                  ULT. RESULTADOS
                </div>
              </div>
            </div>
            <div class="last-plays-panel-body">
              <div class="play" *ngFor="let result of lastResults">
                <div nz-row class="row-style panel-container">
                  <div nz-col nzSpan="6" class="col-style center-column" style="justify-content: flex-start;padding-left: 5px">{{result.lottery}}</div>
                  <div nz-col nzSpan="6" class="col-style center-column">
                    <span class="play-result" [class.error]="result.number <= 0">{{result.number}}</span>
                  </div>
                  <div nz-col nzSpan="12" class="col-style center-column" style="justify-content: flex-start">
                    <app-ball [background]="'red'" [title]="number.toString()" [size]="'tiny'" *ngFor="let number of result.numbers"></app-ball>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="getPanelSize(16 / panels.length)" class="col-style column bet-column" *ngFor="let panel of panels">
        <div class="bet-column-header">
          <div class="bet-column-header-title">
            <span>{{panel.title}}</span>
          </div>
          <div class="bet-column-header-columns">
            <div nz-row class="row-style panel-container">
              <div nz-col nzSpan="6" class="col-style center-column">LOT</div>
              <div nz-col nzSpan="7" class="col-style center-column">NUM</div>
              <div nz-col nzSpan="7" class="col-style center-column">MONTO</div>
              <div nz-col nzSpan="4" class="col-style center-column last-column"></div>
            </div>
          </div>
        </div>
        <div class="bet-column-body">
          <div class="bet" *ngFor="let bet of getFilteredBets(panel.types)">
            <div nz-row class="row-style panel-container">
              <div nz-col nzSpan="6" class="col-style center-column">{{bet.lottery}}</div>
              <div nz-col nzSpan="7" class="col-style center-column">{{bet.number}}</div>
              <div nz-col nzSpan="7" class="col-style center-column">${{bet.amount}}</div>
              <div nz-col nzSpan="4" class="col-style center-column last-column">
                <i nz-icon nzType="delete" (click)="deleteBet(bet)" class="action-icon error" nzTheme="outline"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="bet-column-footer">
          <span class="counter">{{getFilteredBets(panel.types).length}}</span>
          <span class="amount">${{getSumBets(getFilteredBets(panel.types))}}</span>
        </div>
      </div>
    </div>
  </div>
</div>




<nz-drawer
  nzWrapClassName="drawer-bets-wrap"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskStyle]="{ backgroundColor: '#0000006e' }"
  [nzMaskClosable]="false"
  [nzWidth]="500"
  [nzVisible]="visibleTickets"
  [nzTitle]="'APUESTAS RECIENTES'"
  (nzOnClose)="onCancelTicket()"
>
  <div>
    <ng-container>
      <h1>asdasd</h1>
    </ng-container>
  </div>
</nz-drawer>
