.layout {
  min-height: 100vh;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 5px;
}

nz-sider{
  &.fixed{
    z-index: 9;
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
  }
}

.trigger{
  font-size: 18px;
}

.inner-content{
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0px 10px;
  .header-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button{
      margin-left: 5px;
    }
  }
}

.top-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-content-topbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  span{
    margin-left: 20px;
  }
}

.inputs-content{
  margin-top: 5px;
  input, nz-input-number, button{
    width: 100%;
  }
  .play-input{
    margin-left: 0px;
  }
  .play-button{
    margin-right: 0px;
  }
}

.super-pale{
  &.selected{
    background-color: orange;
  }
}

:host ::ng-deep{
  .nz-badge-custom{
    color: unset;
    nz-badge-sup{
      transform: translate(-37%, -68%);
    }
  }
}


.lottery-panel {
  margin-top: 5px;

  .lottery-panel-header {
    min-height: 30px;
    max-height: 30px;
    height: 100%;
  }

  .lottery-panel-body {
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);
    overflow-y: auto;

    .lottery {
      padding: 5px;
      width: 100%;
      background-color: #ffffff0f;
      border-bottom: 1px solid #ccc;
      color: #000;
      cursor: pointer;

      &.closed {
        color: #fff;
        background-color: #757575 !important;
      }
    }
  }
}

.last-plays-panel {
  margin-top: 5px;

  .last-plays-panel-header {
    min-height: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .last-plays-panel-body {
    overflow-y: auto;
    max-height: 200px;

    .play {
      padding: 5px;
      width: 100%;
      border-bottom: 1px solid #ccc;
      color: #000;

      .play-result {
        color: #000;
        padding: 0 14px;
        font-weight: bold;

        &.error {
          background-color: red;
        }
      }
    }
  }
}

.center-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  height: 100%;
  padding: 10px;
}

.bet-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bet-column-header {
  flex: 2;

  .bet-column-header-title {
    color: #000;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
  }

  .bet-column-header-columns {
    height: 50%;
    width: 100%;
    padding: 5px;
    color: #000;
  }
}

.bet-column-body {
  margin-top: 8px;
  flex: 10;
  overflow-y: auto;

  .bet {
    padding: 5px;
    min-height: 30px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px;

    .last-column {
      text-align: right;
    }
  }
}

.bet-column-footer {
  margin-top: 4px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .counter {
    text-align: center;
    margin: 5px;
    width: 30%;
    border: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
  }

  .amount {
    text-align: right;
    margin: 5px;
    width: 70%;
    border: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
  }
}

