$Primary: #BB86FC;
$PrimaryVariant: #3700B3;
$Secondary: #03DAC6;
$DarkBlack: #121212;
$DarkGrey: #1f1f1f;
$Grey: #757575;
$Error: #CF6679;
$White: #FFFFFF;
$LightWhite: #f0f2f5;
$Black: #000000;
$DarkBlue: #001529;
$DarkBlue2: #000c17;


$headerHeight: 50px;
$borderRadius: 5px;
$boxShadow: 0px 1px 4px 0px #00000090;

.panel-container {
  height: 100%;
}

.header {
  background-color: $DarkBlue;
  color: $White;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: $headerHeight;
  max-height: $headerHeight;
  padding-left: 10px;
  padding-right: 10px;

  .left-side{
    .topbar-action{
      font-size: 20px;
      color: $White;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      &:hover{
        color: $Primary;
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;

    .date, .total {
      margin-left: 20px;
    }

    .total {
      background-color: $Secondary;
      box-shadow: $boxShadow;
      color: $Black;
      font-weight: bold;
      padding: 5px 10px;
      margin-bottom: 0;
    }

    .date {
      background-color: $White;
      box-shadow: $boxShadow;
      color: $Black;
      padding: 5px 10px;
      margin-bottom: 0;
    }
  }
}

.panel-body {
  height: calc(100% - #{$headerHeight});

  .panel-body-row {
    height: 100%;
    background-color: $LightWhite;

    .column {
      height: 100%;
      padding: 10px;

      .left-panel {
        height: 100%;

        background-color: $White;
        color: $Black;


        .control-panel {
          height: 35%;
          padding: 10px;
          box-shadow: $boxShadow;
          margin-bottom: 4px;

          .description{
            color: $Grey;
          }
          .play-insert{
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .select{
              width: 30%;
            }
            .left-input{
              width: 50%;
            }
            .center-input{
              width: 30%;
            }
            .right-input{
              width: 50%;
            }
            .play-enter{
              width: 10%;
              margin-left:5px;
            }
          }
          .play-insert-buttons{
            display: flex;
            margin-bottom: 10px;
            .action-icon{
              margin-right: 5px;
              background-color: $Primary;
              color: $White;
              padding: 5px;
              box-shadow: $boxShadow;
              border-radius: $borderRadius;
            }
            .custom-button{
              margin-right: 5px;
            }
          }
          .clean-button{
            background-color: $Error;
            color: $Black;
            &.disabled{
              background-color: $Grey;
              color: $White;
            }
          }
        }

        .lottery-panel {
          height: 35%;
          box-shadow: $boxShadow;
          margin-bottom: 4px;

          .lottery-panel-header {
            height: 15%;
            background-color: $DarkBlue;
            color: $White;
          }

          .lottery-panel-body {
            height: 80%;
            overflow-y: auto;
            .lottery{
              padding: 5px;
              width: 100%;
              background-color: #ffffff0f;
              border-bottom: 1px solid #ccc;
              color: $Black;
              cursor: pointer;
              &.closed{
                color: $White;
                background-color: #757575 !important;
              }
            }
          }
        }

        .last-plays-panel {
          height: calc(30% - 8px);
          box-shadow: $boxShadow;

          .last-plays-panel-header {
            height: 17%;
            background-color: $DarkBlue;
            color: $White;
          }
          .last-plays-panel-body {
            height: 80%;
            overflow-y: auto;
            .play{
              padding: 5px;
              width: 100%;
              border-bottom: 1px solid #ccc;
              color: $Black;
              .play-result{
                color: $Black;
                background-color: $Primary;
                border-radius: $borderRadius;
                box-shadow: $boxShadow;
                padding: 0 14px;
                font-weight: bold;
                &.error{
                  background-color: $Error;
                }
              }
            }
          }
        }


      }
      &.bet-column {
        height: 100%;

        .bet-column-header {
          height: 10%;

          .bet-column-header-title {
            background-color: $DarkBlue;
            box-shadow: $boxShadow;
            color: $White;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4px;
          }

          .bet-column-header-columns {
            height: 50%;
            width: 100%;
            padding: 5px;
            background-color: $DarkBlue;
            box-shadow: $boxShadow;
            color: $White;
          }
        }

        .bet-column-body {
          margin-top: 8px;
          background-color: $White;
          box-shadow: $boxShadow;
          height: calc(80% - 8px);
          overflow-y: auto;

          .bet {
            padding: 5px;
            min-height: 30px;
            width: 100%;
            border-bottom: 1px solid #ccc;
            margin-bottom: 1px;
            color: $Black;
            .last-column{
              text-align: right;
            }
          }
        }

        .bet-column-footer {
          margin-top: 4px;
          height: calc(10% - 4px);
          display: flex;
          background-color: $White;
          box-shadow: $boxShadow;
          justify-content: space-between;
          align-items: center;
          padding: 10px;

          .counter {
            text-align: center;
            margin: 5px;
            width: 30%;
            background-color: $White;
            border: 1px solid #ccc;
            padding: 5px;
            color: $Black;
            font-weight: bold;
          }

          .amount {
            text-align: right;
            margin: 5px;
            width: 70%;
            background-color: $White;
            border: 1px solid #ccc;
            padding: 5px;
            color: $Black;
            font-weight: bold;
          }
        }
      }

    }
  }


}

::-webkit-scrollbar {
  display: none;
}


.center-column{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  &.primary {
    color: $Primary;
  }
  &.error {
    color: $Error;
  }
}
.action-icon {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  &.primary {
    color: $Primary;
  }
  &.error {
    color: $Error;
  }
}

.custom-button{
  background-color: $Primary;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: $Black;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;

  &.disabled{
    cursor: default;
    background-color: $Grey;
    color: $White;
  }
}

::ng-deep{
  .drawer-bets-wrap{
    .ant-drawer-header{
      background-color: $DarkGrey;
      border-bottom: 0px;
      box-shadow: $boxShadow;

      .ant-drawer-title{
        color: $White;
      }
      .anticon-close{
        color: $White;
      }
    }
    .ant-drawer-body{
      background-color: $DarkBlack;
      color: $White;
    }
  }
}

