<app-page-loader-bouncing [loading]="loading"></app-page-loader-bouncing>
<div class="row-style panel-container" nz-row>
  <div class="col-style header" nz-col nzSpan="24">
    <div class="left-side">
      <i class="topbar-action" nz-icon nzTheme="outline" nzType="home" routerLink="/"></i>
      <i (click)="openDrawer(drawerBets, {})" class="topbar-action" nz-icon nz-tooltip="Buscar ticket"
         nzTheme="outline"
         nzTooltipPlacement="bottom" nzType="file-search"></i>
      <i (click)="openDrawer(drawerResumeSells, {})" class="topbar-action" nz-icon nz-tooltip="Cuadre de caja" nzTheme="outline"
         nzTooltipPlacement="bottom" nzType="wallet"></i>
      <i (click)="openDrawer(drawerPayBet, {})" class="topbar-action" nz-icon nz-tooltip="Pagar ticket" nzTheme="outline"
         nzTooltipPlacement="bottom" nzType="audit"></i>
      <i (click)="openDrawer(drawerLotteryLimits, {})" class="topbar-action" nz-icon nz-tooltip="Limites de loterias"
         nzTheme="outline"
         nzTooltipPlacement="bottom" nzType="dollar"></i>
      <i (click)="openDrawer(drawerHelp, {})" class="topbar-action" nz-icon nz-tooltip="Ayuda" nzTheme="outline"
         nzTooltipPlacement="bottom" nzType="question"></i>
      <nz-badge class="custom" [nzDot]="messages.length > 0" [nzShowZero]="false">
        <i (click)="openDrawer(drawerChat, {})" class="topbar-action" nz-icon nz-tooltip="Chat" nzTheme="outline"
           nzTooltipPlacement="bottom" nzType="message"></i>
      </nz-badge>
    </div>
    <div class="right-side">

      <span (click)="cleanAll()" [class.disabled]="this.plays.length <= 0" class="clean-button">
        <i nz-icon nzTheme="outline" nzType="clear"></i>
        LIMPIAR
      </span>

      <span (click)="onSubmitBet()" [class.disabled]="this.plays.length <= 0" class="confirm-button">
        <i nz-icon nzTheme="outline" nzType="printer"></i>
        CONFIRMAR
      </span>

      <span class="total">
        <i nz-icon nzTheme="outline" nzType="shopping-cart"></i>
        TOTAL: ${{getSumBets(plays)}}
      </span>
      <span class="date">
        <i nz-icon nzTheme="outline" nzType="clock-circle"></i>
        {{now | date: 'dd/MM/yyyy HH:mm:ss'}}
      </span>
    </div>
  </div>
  <div class="col-style panel-body" nz-col nzSpan="24">
    <div class="row-style panel-body-row" nz-row>
      <div [nzLg]="8" [nzXs]="24" class="col-style column" nz-col>
        <div class="left-panel">
          <div class="control-panel">
            <div class="play-insert">
              <input #inputNumber
                     (ngModelChange)="searchLimit()"
                     (keyup.enter)="onKeyEnterNumber()" [(ngModel)]="number"
                     autofocus class="left-input" nz-input (input)="regexPlay(inputNumber)" placeholder="JUGADA"/>
              <input #inputLimit [disabled]="true" [type]="'number'" [value]="limit" class="right-input"
                     nz-input placeholder="LIMITE" readonly/>
              <input #inputAmount (keyup.enter)="onKeyEnter()" [(ngModel)]="amount" [type]="'number'"
                     class="right-input"
                     nz-input placeholder="MONTO"/>
              <!--<span (click)="onCheckSuperPale()" [class.selected]="this.superPale" class="custom-button super-pale"
                    nz-tooltip="SUPERPALE">
                S
              </span>-->
              <span (click)="onKeyEnter()" [class.disabled]="disabledBet()" class="custom-button play-enter">
                <i nz-icon nzTheme="outline" [nzType]="loadingSearchLimit ? 'loading' : 'caret-right'"></i>
              </span>
            </div>
          </div>
          <div class="lottery-panel">
            <div class="lottery-panel-header">
              <div class="row-style panel-container" nz-row>
                <div class="col-style center-column" nz-col nzSpan="12">
                  LOTERIA
                </div>
                <div class="col-style center-column" nz-col nzSpan="10">
                  CIERRE
                </div>
                <div class="col-style center-column" nz-col nzSpan="2">
                  <i *ngIf="reloadingLotteries" nz-icon nzTheme="outline" nzType="loading"></i>
                </div>
              </div>
            </div>
            <div class="lottery-panel-body">
              <div
                (click)="(lottery.status && lottery.leftTime > 0) && onChangeLottery(lottery, !this.selectedLotteries.includes(lottery._id.toString()))"
                *ngFor="let lottery of lotteries"
                [class.closed]="!lottery.status || !lottery.leftTime"
                [style]="{backgroundColor: lottery.color}" class="lottery">
                <div class="row-style panel-container" nz-row>
                  <div class="col-style" nz-col nzSpan="12">{{lottery.name}}</div>
                  <div class="col-style center-column" nz-col nzSpan="10">
                    <i *ngIf="lottery.status && lottery.leftTime > 0" class="icon primary" nz-icon
                       nzTheme="outline"
                       nzType="check-circle" style="margin-right: 5px"></i>
                    <i *ngIf="!lottery.status || !lottery.leftTime" class="icon" nz-icon nzTheme="outline" nzType="lock"
                       style="margin-right: 5px"></i>
                    <countdown #cd (event)="onChangeCounter($event, lottery)" *ngIf="lottery.leftTime"
                               [config]="{leftTime:lottery.leftTime}"></countdown>
                  </div>
                  <div class="col-style center-column last-column" nz-col nzSpan="2">
                    <label (nzCheckedChange)="onChangeLottery(lottery, $event)"
                           [nzChecked]="this.selectedLotteries.includes(lottery._id.toString())"
                           [nzDisabled]="!lottery.status || !lottery.leftTime"
                           nz-checkbox></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="last-plays-panel">
            <div class="last-plays-panel-header">
              <div class="row-style panel-container" nz-row style="width: 100%">
                <div class="col-style center-column" nz-col nzSpan="12">
                  ULT. RESULTADOS
                </div>
                <div class="col-style center-column" nz-col nzSpan="12"
                     style="justify-content: flex-end; padding-right: 20px">
                  <i *ngIf="reloadingResults" nz-icon nzTheme="outline" nzType="loading"></i>
                </div>
              </div>
            </div>
            <div class="last-plays-panel-body">
              <div *ngFor="let result of lastResults" class="play">
                <div class="row-style panel-container" nz-row>
                  <div class="col-style center-column" nz-col nzSpan="8"
                       style="justify-content: flex-start;">{{result.lotteryName}}</div>
                  <div *ngIf="result.draw" class="col-style center-column" nz-col nzSpan="8" style="justify-content: flex-end">
                    {{result.date | date: 'dd/MM/yyyy'}}
                  </div>
                  <div *ngIf="result.draw" class="col-style center-column" nz-col nzSpan="8"
                       style="justify-content: flex-end">
                    <app-ball *ngIf="result.draw.first" [background]="'red'" [size]="'tiny'"
                              [title]="this.formatResult(result.draw.first)" style="margin-left: 5px"></app-ball>
                    <app-ball *ngIf="result.draw.second" [background]="'red'" [size]="'tiny'"
                              [title]="this.formatResult(result.draw.second)" style="margin-left: 5px"></app-ball>
                    <app-ball *ngIf="result.draw.third" [background]="'red'" [size]="'tiny'"
                              [title]="this.formatResult(result.draw.third)" style="margin-left: 5px"></app-ball>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let panel of panels" [nzLg]="getPanelSize(16 / panels.length)" [nzXs]="24"
           class="col-style column bet-column"
           nz-col>
        <div class="bet-column-header">
          <div class="bet-column-header-title">
            <span>{{panel.title}}</span>
          </div>
          <div class="bet-column-header-columns">
            <div class="row-style panel-container" nz-row>
              <div class="col-style center-column" nz-col nzSpan="6">LOT</div>
              <div class="col-style center-column" nz-col nzSpan="7">NUM</div>
              <div class="col-style center-column" nz-col nzSpan="7">MONTO</div>
              <div class="col-style center-column last-column" nz-col nzSpan="4"></div>
            </div>
          </div>
        </div>
        <div class="bet-column-body">
          <div *ngFor="let bet of getFilteredBets(panel.types)" class="bet">
            <div class="row-style panel-container" nz-row>
              <div class="col-style center-column" nz-col nzSpan="6">{{bet.lotteryNickName}}</div>
              <div class="col-style center-column" nz-col nzSpan="7">{{showParsedNumbers(bet.playNumbers)}}</div>
              <div class="col-style center-column" nz-col nzSpan="7">${{bet.amount}}</div>
              <div class="col-style center-column last-column" nz-col nzSpan="4">
                <i (click)="deleteBet(bet)" class="action-icon error" nz-icon nzTheme="outline" nzType="delete"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="bet-column-footer">
          <span class="counter">{{getFilteredBets(panel.types).length}}</span>
          <span class="amount">${{getSumBets(getFilteredBets(panel.types))}}</span>
        </div>
      </div>
    </div>
  </div>
</div>


<nz-modal
  [(nzVisible)]="modalConfirm"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [nzTitle]="modalTitle"
  nzTitle="Modal"
>
  <ng-template #modalTitle>
    <ng-container *ngIf="!generatedBet">Estas seguro?</ng-container>
    <ng-container *ngIf="generatedBet">Apuesta realizada con exito!</ng-container>
  </ng-template>
  <ng-template #modalContent>
    <ng-container *ngIf="loadingSubmit">
      <div class="lottery-loading">
        <i nz-icon nzTheme="outline" nzType="loading"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="generatedBet">
      <span class="modal-confirm-total">
        <i nz-icon nzTheme="outline" nzType="shopping-cart"></i>
        TOTAL: ${{getSumBets(generatedBet.plays)}}
      </span>
      <span *ngIf="generatedBet._id" class="modal-confirm-ticket-number">
        APUESTA: {{generatedBet._id.toString()}}
      </span>
      <div class="modal-confirm-buttons">
        <a *ngIf="canSeeSn(generatedBet)" [href]="getSendWhatsApp(generatedBet)" target="_blank">
          <div class="custom-button-confirm" nz-tooltip="Enviar por whatsapp">
            <i class="icon primary" nz-icon nzTheme="outline" nzType="whats-app"></i>
          </div>
        </a>
        <div *ngIf="canSeeSn(generatedBet)" (click)="printTicket(generatedBet)" class="custom-button-confirm"
             nz-tooltip="Imprimir">
          <i class="icon primary" nz-icon nzTheme="outline" nzType="printer"></i>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!generatedBet && !loadingSubmit">
      <h3 style="text-align: center">Desea confirmar la apuesta?</h3>
    </ng-container>
  </ng-template>
  <ng-template #modalFooter>
    <div class="modal-confirm-footer">
      <button (click)="closeModalConfirm()" [disabled]="loadingSubmit" nz-button nzType="default">Cerrar</button>
      <button (click)="onSubmitBetConfirm()" *ngIf="!generatedBet"
              [disabled]="loadingSubmit"
              [nzLoading]="loadingSubmit"
              nz-button
              nzType="primary">Confirmar ticket
      </button>
    </div>
  </ng-template>
</nz-modal>


<app-drawer-bets
#drawerBets
[nzTitle]="'BUSCAR TICKET'"
[canSeeSn]="canSeeSn"
[banking]="banking"
[getSendWhatsApp]="getSendWhatsApp"
[openTicket]="openTicket"
[cloneTicket]="cloneTicket"
[canCancelTicket]="canCancelTicket"
></app-drawer-bets>

<app-drawer-bet
  #drawerBet
  [nzTitle]="'VER TICKET'"
  [banking]="banking"
  [canSeeSn]="canSeeSn"
  [getSendWhatsApp]="getSendWhatsApp"
  [cloneTicket]="cloneTicket"
></app-drawer-bet>


<app-drawer-help
  #drawerHelp
  [nzTitle]="'AYUDA'"
></app-drawer-help>

<app-drawer-chat
  #drawerChat
  [nzTitle]="'CHAT'"
></app-drawer-chat>

<app-drawer-lotteries
  #drawerLotteryLimits
  [nzTitle]="'LIMITES DE LOTERIAS'"
  [availableBettingPlays]="availableBettingPlays"
  [availablePlays]="availablePlays"
></app-drawer-lotteries>


<app-drawer-pay-bet
  #drawerPayBet
  [nzTitle]="'PAGAR TICKET'"
></app-drawer-pay-bet>


<app-drawer-resume-sells
  #drawerResumeSells
  [nzTitle]="'RESUMEN DE VENTAS'"
></app-drawer-resume-sells>
