<div class="inner-content fit-height mb-20" style="min-height: 300px;">
  <app-abm [columns]="columns"
           [defaultForm]="defaultForm"
           [extraButtons]="extraButtons"
           [customColumns]="customColumns"
           [fetcherCreate]="fetcherCreate"
           [fetcherDelete]="fetcherDelete"
           [fetcherUpdate]="fetcherUpdate"
           [fetcher]="fetcher"
           [formTemplate]="formTemplate"
           [form]="formABM"
           [getValidators]="getValidators"
           [parseData]="parseData"
           [setValueForm]="setValueForm"
           [title]="'LOTTERIES.TITLE'"
           [viewTemplate]="viewTemplate">
  </app-abm>

  <ng-template let-column let-data="data" #customColumns>
    <ng-container [ngSwitch]="column.component">
      <nz-tag *ngSwitchCase="'color'" [nzColor]="data.color">{{data.color}}</nz-tag>
    </ng-container>
  </ng-template>


  <ng-template #formTemplate>
    <form [formGroup]="formABM">

      <div class="form-element">
        <label for="name">
          {{'LOTTERIES.CREATE.NAME'|translate}}
        </label>
        <input formControlName="name" id="name" nz-input type="text">
      </div>


      <div class="form-element">
        <label for="nickname">
          {{'LOTTERIES.CREATE.ALIAS'|translate}}
        </label>
        <input formControlName="nickname" id="nickname" nz-input type="text">
      </div>

      <div class="form-element">
        <label for="color">
          {{'LOTTERIES.CREATE.COLOR'|translate}}
        </label>
        <input formControlName="color" id="color" nz-input type="color">
      </div>

      <div class="form-element">
        <label for="playTime">
          {{'LOTTERIES.CREATE.PLAY_TIME'|translate}}
        </label>

        <nz-time-picker [nzMinuteStep]="5" formControlName="playTime" id="playTime" nzFormat="HH:mm"
                        [nzPlaceHolder]="'LOTTERIES.CREATE.PLAY_TIME'|translate" (ngModelChange)="resetOpenAndCloseTime()"></nz-time-picker>
      </div>

      <div nz-row nzGutter="8">
        <div class="form-element" nz-col nzXs="12">
          <label for="openTime">
            {{'LOTTERIES.CREATE.OPEN_TIME'|translate}}
          </label>
          <nz-time-picker [nzDisabledHours]="getOpeningDisabledHours"
                          [nzDisabledMinutes]="getOpeningDisabledMinutes"
                          [nzHideDisabledOptions]="true"
                          [nzMinuteStep]="5"
                          [nzDisabled]="isOpeningTimeEnabled()"
                          [nzAllowEmpty]="true"
                          formControlName="openTime"
                          id="openTime"
                          nzFormat="HH:mm"
                          [nzClearText]="'UTILS.CLEAN'"
                          [nzPlaceHolder]="'LOTTERIES.CREATE.OPEN_TIME'|translate">
          </nz-time-picker>
        </div>
        <div class="form-element" nz-col nzXs="12">
          <label for="closeTime">
            {{'LOTTERIES.CREATE.CLOSE_TIME'|translate}}
          </label>
          <nz-time-picker [nzDisabledHours]="getClosingDisabledHours"
                          [nzDisabledMinutes]="getClosingDisabledMinutes"
                          [nzHideDisabledOptions]="true"
                          [nzMinuteStep]="5"
                          [nzDisabled]="isClosingTimeEnabled()"
                          [nzAllowEmpty]="true"
                          formControlName="closeTime"
                          id="closeTime"
                          nzFormat="HH:mm"
                          [nzClearText]="'UTILS.CLEAN'"
                          [nzPlaceHolder]="'LOTTERIES.CREATE.CLOSE_TIME'|translate">
          </nz-time-picker>
        </div>
      </div>

      <div class="form-element" >
        <label for="day">
          {{'LOTTERIES.CREATE.DAYS'|translate}}
        </label>
        <nz-select class="day-selector" formControlName="day" id="day" nzMaxTagCount="7"
                   nzMode="tags"
                   [nzPlaceHolder]="'LOTTERIES.CREATE.SELECT_DAYS'|translate">
          <nz-option [nzLabel]="('LOTTERIES.CREATE.'+days.Mon)|translate" [nzValue]="days.Mon"></nz-option>
          <nz-option [nzLabel]="('LOTTERIES.CREATE.'+days.Tue)|translate" [nzValue]="days.Tue"></nz-option>
          <nz-option [nzLabel]="('LOTTERIES.CREATE.'+days.Wed)|translate" [nzValue]="days.Wed"></nz-option>
          <nz-option [nzLabel]="('LOTTERIES.CREATE.'+days.Thu)|translate" [nzValue]="days.Thu"></nz-option>
          <nz-option [nzLabel]="('LOTTERIES.CREATE.'+days.Fri)|translate" [nzValue]="days.Fri"></nz-option>
          <nz-option [nzLabel]="('LOTTERIES.CREATE.'+days.Sat)|translate" [nzValue]="days.Sat"></nz-option>
          <nz-option [nzLabel]="('LOTTERIES.CREATE.'+days.Sun)|translate" [nzValue]="days.Sun"></nz-option>
        </nz-select>
      </div>

      <div class="form-element">
        <label for="status">
          {{'LOTTERIES.CREATE.STATUS'|translate}}
        </label>
        <nz-switch formControlName="status" id="status" style="padding-left: 10px"></nz-switch>
      </div>


    </form>
  </ng-template>

  <ng-template #viewTemplate let-visibleObject>
    <ng-container *ngIf="visibleObject">
      <nz-descriptions [nzTitle]="'LOTTERIES.VIEW.LOTTERY_DATA'| translate">
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.NAME'|translate">
          {{visibleObject.name}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.ALIAS'|translate">
          {{visibleObject.nickname}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.PLAY_TIME'|translate">
          {{visibleObject.playTime| date: 'HH:mm'}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.OPEN_TIME'|translate">
          {{visibleObject.openTime}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.CLOSE_TIME'|translate">
          {{visibleObject.closeTime}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.STATUS'|translate">
          {{visibleObject.status ? ('LOTTERIES.VIEW.ENABLED'|translate) : ('LOTTERIES.VIEW.DISABLED'|translate)}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.COLOR'|translate">
          <nz-tag [nzColor]="visibleObject.color">{{visibleObject.color}}</nz-tag>
        </nz-descriptions-item>
      </nz-descriptions>

      <div class="schedule">
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Mon)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Mon)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Mon)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Tue)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Tue)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Tue)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Wed)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Wed)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Wed)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Thu)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Thu)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Thu)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Fri)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Fri)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Fri)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Sat)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Sat)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Sat)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Sun)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Sun)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Sun)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
      </div>
    </ng-container>
  </ng-template>

</div>
