<div>
  <nz-table #table
            [nzData]="consortiums"
            [nzPageSize]="10"
            [nzScroll]="{ x: '700px' }"
            [nzSize]="'small'"
            nzLoading="false"
            nzTableLayout="auto">
    <thead>
    <tr>
      <th *ngFor="let column of columns">
        {{column.name}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data.name }}</td>
      <!--<td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>-->
      <td>{{ '$' + data.balance }}</td>
    </tr>
    </tbody>
    <tfoot *ngIf="table && table.data.length > 0">
    <tr>
      <td class="tableFooter">
        {{'Total'}}
      </td>
      <!--<td class="tableFooter">
        {{getColumnTotal('winningTks')}}
      </td>
      <td class="tableFooter">
        {{getColumnTotal('pendingTks')}}
      </td>
      <td class="tableFooter">
        {{getColumnTotal('losingTks')}}
      </td>
      <td class="tableFooter">
        {{getColumnTotal('canceledTks')}}
      </td>
      <td class="tableFooter">
        {{getColumnTotal('totalTickets')}}
      </td>
      <td class="tableFooter">
        {{'$' + getColumnTotal('earnings')}}
      </td>
      <td class="tableFooter">
        {{'$' + getColumnTotal('prizes')}}
      </td>
      <td class="tableFooter">
        {{ getColumnTotal('percentage')+ '%'}}
      </td>
      <td class="tableFooter">
        {{ getColumnTotal('discount')+ '%'}}
      </td>
      <td class="tableFooter">
        {{'$' + getColumnTotal('net')}}
      </td>-->
      <td class="tableFooter">
        {{'$' + getColumnTotal('balance')}}
      </td>
    </tr>
    </tfoot>
  </nz-table>
</div>
