<div class="inner-content mb-20" xmlns:svg="http://www.w3.org/2000/svg">
  <app-title-divider title="{{'DASHBOARD.DAILY_STATS.TITLE' |translate}}"></app-title-divider>
  <div [nzGutter]="8" class="fit-height" nz-row>
    <div class="mb-20" nz-col nzMd="24" nzXl="8" nzXs="24">
      <app-widget [icon]="'stock'"
                  [prefix]="false"
                  [title]="'DASHBOARD.DAILY_STATS.TICKETS'| translate | uppercase"
                  [value]="ticketsSold"></app-widget>
    </div>
    <div class="mb-20" nz-col nzMd="24" nzXl="8" nzXs="24">
      <app-widget [backgroundColor]="'orange'"
                  [icon]="'rise'"
                  [title]="'DASHBOARD.DAILY_STATS.PRIZES'| translate | uppercase"
                  [value]="profits"></app-widget>
    </div>
    <div class="mb-20" nz-col nzMd="24" nzXl="8" nzXs="24">
      <app-widget [backgroundColor]="'grey'"
                  [icon]="'fall'"
                  [title]="'DASHBOARD.DAILY_STATS.PROFITS'| translate | uppercase"
                  [value]="prizes"></app-widget>
    </div>
  </div>
</div>

<div nz-col nzXs="24">
  <div #containerRef class="inner-content mb-20" style="min-height: 450px;max-height: 450px;overflow: hidden;">
    <app-title-divider [title]="'DASHBOARD.ORGANIZATION_DIAGRAM.TITLE'|translate"></app-title-divider>
    <ng-container *ngIf="hideDashboard">
      <div style="text-align: center">
        <img src="assets/imgs/nodata.png" style="height: 100%;padding-top: 50px;object-fit: cover;" alt="No data"/>
      </div>
    </ng-container>
    <ng-container *ngIf="!hideDashboard">
      <ngx-graph
        [autoCenter]="false"
        [autoZoom]="true"
        [clusters]="clusters"
        [draggingEnabled]="false"
        [links]="links"
        [miniMapPosition]="miniMapPosition.UpperLeft"
        [nodes]="nodes"
        [showMiniMap]="true"
        [view]="[containerRef.offsetWidth, 400]"
        class="chart-container"
        layout="dagreCluster"
      >
        <ng-template #nodeTemplate let-node>
          <svg:g class="node">
            <svg:rect
              [attr.fill]="node.data.color"
              [attr.height]="node.dimension.height"
              [attr.width]="node.dimension.width"
            />
            <svg:text [attr.x]="10" [attr.y]="node.dimension.height / 2" alignment-baseline="central">
              {{node.label}}
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </ng-container>

  </div>
</div>

<div class="inner-content fit-height mb-20">
  <app-title-divider title="{{'DASHBOARD.CONSORTIUM_SUMMARY.TITLE' |translate}}"></app-title-divider>
  <app-admin-consortiums-table></app-admin-consortiums-table>
</div>
<div class="inner-content fit-height mb-20">
  <app-title-divider title="{{'DASHBOARD.BANKING_SUMMARY.TITLE' |translate}}"></app-title-divider>
  <app-shared-bankings-table></app-shared-bankings-table>
</div>
<div class="inner-content fit-height mb-20">
  <app-title-divider title="{{'DASHBOARD.WEBUSERS_SUMMARY.TITLE' |translate}}"></app-title-divider>
  <app-shared-webusers-table></app-shared-webusers-table>
</div>
<div [nzGutter]="8" nz-row>
  <div nz-col nzXl="12" nzXs="24">
    <div class="inner-content mb-20" style="min-height: 460px;">
      <app-title-divider
        title="{{'DASHBOARD.BALANCE_BY_CONSORTIUM' | translate}}"></app-title-divider>
      <app-bar-chart [results]="barChartDataConsortiums"
                     [xAxisLabel]="'DASHBOARD.X_LABEL_CONSORTIUM' | translate"
                     [yAxisLabel]="'DASHBOARD.Y_LABEL_BALANCE' | translate"></app-bar-chart>
    </div>
  </div>
  <div nz-col nzXl="12" nzXs="24">
    <div class="inner-content mb-20" style="min-height: 460px;">
      <app-title-divider
        title="{{'DASHBOARD.BALANCE_BY_BANKING' | translate}}"></app-title-divider>
      <app-bar-chart [results]="barChartDataBankings"
                     [xAxisLabel]="'DASHBOARD.X_LABEL_BANKING' | translate"
                     [yAxisLabel]="'DASHBOARD.Y_LABEL_BALANCE' | translate"></app-bar-chart>
    </div>
  </div>
</div>

