<div class="inner-content mb-20" xmlns:svg="http://www.w3.org/2000/svg">
  <app-title-divider title="{{'HOME.DASHBOARD.DAILY_STATS' |translate}}"></app-title-divider>
  <div nz-row class="fit-height" [nzGutter]="8">
    <div nz-col nzXs="24" nzMd="24" nzXl="6" class="mb-20">
      <app-widget [title]="'HOME.DASHBOARD.TICKETS'| translate | uppercase"
                  [value]="ticketsSold"
                  [prefix]="false"
                  [icon]="'stock'"></app-widget>
    </div>
    <div nz-col nzXs="24" nzMd="24" nzXl="6" class="mb-20">
      <app-widget [title]="'HOME.DASHBOARD.INGRESS'| translate | uppercase"
                  [backgroundColor]="'orange'"
                  [value]="profits"
                  [icon]="'rise'"></app-widget>
    </div>
    <div nz-col nzXs="24" nzMd="24" nzXl="6" class="mb-20">
      <app-widget [title]="'HOME.DASHBOARD.EGRESS'| translate | uppercase"
                  [backgroundColor]="'grey'"
                  [value]="losses"
                  [icon]="'fall'"></app-widget>
    </div>
    <div nz-col nzXs="24" nzMd="24" nzXl="6" class="mb-20">
      <app-widget [title]="'HOME.DASHBOARD.BALANCE' | translate | uppercase"
                  [backgroundColor]="'green'"
                  [value]="balance"
                  [icon]="'fund'"></app-widget>
    </div>
  </div>
</div>

<div nz-col nzXs="24">
  <div #containerRef class="inner-content mb-20" style="min-height: 450px;max-height: 450px;overflow: hidden;">
    <app-title-divider title="Diagrama de organizacion"></app-title-divider>
    <ngx-graph
      class="chart-container"
      [view]="[containerRef.offsetWidth, 400]"
      [showMiniMap]="true"
      [miniMapPosition]="miniMapPosition.UpperLeft"
      [autoCenter]="false"
      [autoZoom]="true"
      [draggingEnabled]="false"
      layout="dagreCluster"
      [links]="links"
      [nodes]="nodes"
      [clusters]="clusters"
    >
      <ng-template #nodeTemplate let-node>
        <svg:g class="node">
          <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            [attr.fill]="node.data.color"
          />
          <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
            {{node.label}}
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div>
</div>

<div class="inner-content fit-height mb-20">
  <app-title-divider title="{{'Resumen Consorcios' |translate}}"></app-title-divider>
  <app-admin-consortiums-table></app-admin-consortiums-table>
</div>
<div class="inner-content fit-height mb-20">
  <app-title-divider title="{{'Resumen Bancas' |translate}}"></app-title-divider>
  <app-shared-bankings-table></app-shared-bankings-table>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col nzXs="24" nzXl="12">
    <div class="inner-content mb-20" style="min-height: 460px;">
      <app-title-divider
        title="{{'Balance por consorcio' | translate}}"></app-title-divider>
      <app-bar-chart xAxisLabel="Consorcio" yAxisLabel="Balance" [results]="barChartDataConsortiums"></app-bar-chart>
    </div>
  </div>
  <div nz-col nzXs="24" nzXl="12">
    <div class="inner-content mb-20" style="min-height: 460px;">
      <app-title-divider
        title="{{'Balance por banca' | translate}}"></app-title-divider>
      <app-bar-chart xAxisLabel="Banca" yAxisLabel="Balance" [results]="barChartDataBankings"></app-bar-chart>
    </div>
  </div>
  <!--<div nz-col nzXs="24" nzXl="12">
    <div class="inner-content mb-20" style="min-height: 460px;">
      <app-title-divider title="Ganancias vs Perdidas"></app-title-divider>
      <app-pie-chart [height]="400" [results]="single"></app-pie-chart>
    </div>
  </div>-->
</div>

