<nz-drawer
  (nzOnClose)="close()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzMaskStyle]="{ backgroundColor: '#0000006e' }"
  [nzTitle]="nzTitle"
  [nzVisible]="nzVisible"
  [nzWidth]="500"
>
  <div class="drawer">
    <ng-container>
      <p>Ingrese el serial de cobro:</p>
      <input [(ngModel)]="payTicketValue" [type]="'string'" class="right-input" nz-input
             placeholder="Serial de cobro"/>
      <button (click)="searchPayTicket()" [disabled]="!payTicketValue" nz-button>Buscar ticket</button>
      <ng-container *ngIf="payTicketFounded">
        <div style="margin-top: 10px">
          <h2>ID: {{payTicketFounded._id.toString()}}</h2>
          <p>Fecha: {{payTicketFounded.date | date: 'dd/MM/yyyy'}}</p>
          <p>Hora: {{payTicketFounded.date | date: 'HH:mm:ss'}}</p>
          <h3>Monto ganador: ${{payTicketFounded.amountWin}}</h3>
        </div>
        <button (click)="payTicket()" [disabled]="!payTicketValue" nz-button>Pagar ticket</button>
      </ng-container>
    </ng-container>
  </div>
</nz-drawer>
