<div nz-row [nzGutter]="20" class="container-dashboard">
  <div nz-col nzXs="24" nzSm="24" nzMd="6" class="mb-20">
    <app-widget [title]="'Balance'" [value]="1000.11" [icon]="'stock'"></app-widget>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="18" class="categorys mb-20">
    <app-category (click)="gotoPlay(item)" *ngFor="let item of data" [title]="item.title" [disabled]="item.disabled"
                  [description]="'Proximos eventos: '+item.events" [background]="item.background">
    </app-category>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="24" class="inner-content mb-20">
    <app-title-divider title="Ultimas apuestas"></app-title-divider>
    <nz-list nzItemLayout="horizontal">
      <nz-list-item *ngFor="let item of dataEvents">
        <nz-list-item-meta
          nzAvatar="{{item.avatar}}"
        >
          <nz-list-item-meta-title>
            {{ item.title }}
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>

            <div style="display:flex;">
              <app-ball style="margin-right:8px" [title]="'11'" [background]="'red'" [size]="'small'"></app-ball>
              <app-ball style="margin-right:8px" [title]="'25'" [background]="'cyan'" [size]="'small'"></app-ball>
              <app-ball style="margin-right:8px" [title]="'10'" [background]="'cyan'" [size]="'small'"></app-ball>
            </div>
          </nz-list-item-meta-description>
        </nz-list-item-meta>

        <nz-list-item-extra>
          {{ item.description }}
        </nz-list-item-extra>
        <ul nz-list-item-actions>
          <nz-list-item-action><a>Show details</a></nz-list-item-action>
        </ul>
      </nz-list-item>
      <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
    </nz-list>
  </div>
</div>
