<div class="inner-content fit-height mb-20" style="min-height: 300px;">
  <app-abm [columns]="columns"
           [defaultForm]="defaultForm"
           [fetcherCreate]="fetcherCreate"
           [fetcherDelete]="fetcherDelete"
           [fetcherUpdate]="fetcherUpdate"
           [fetcher]="fetcher"
           [formTemplate]="formTemplate"
           [form]="formABM"
           [getValidators]="getValidators"
           [parseData]="parseData"
           [setValueForm]="setValueForm"
           [title]="'Usuarios web'"
           [viewTemplate]="viewTemplate">
  </app-abm>

  <ng-template #formTemplate let-mode let-visibleObject="visibleObject">
    <form [formGroup]="formABM">
      <nz-divider [nzText]="'Datos del usuario web'" class="title" nzOrientation="left" style="margin-top: 0"></nz-divider>

      <div *ngIf="[this.userRole.Admin, this.userRole.Consortium].includes(this.user?.role)" class="form-element">
        <label for="selectedBanking">
          {{'Banca'|translate}}
        </label>
        <nz-select formControlName="selectedBanking" id="selectedBanking">
          <nz-option *ngFor="let option of bankings" [nzLabel]="option.name" [nzValue]="option._id"></nz-option>
        </nz-select>
      </div>

      <div>
        <label for="ownerName">
          {{'Nombre'|translate}}
        </label>
        <input formControlName="ownerName" id="ownerName" nz-input type="text">
      </div>

      <div>
        <label for="username">
          {{'SETTINGS.USERS.COLUMNS.USERNAME'|translate}}
        </label>
        <input [minLength]="4" formControlName="username" id="username" nz-input type="text">
      </div>

      <ng-container *ngIf="mode === 'C'">
        <label for="password">
          {{'SETTINGS.USERS.COLUMNS.PASSWORD'|translate}}
        </label>
        <input [maxLength]="35" [minLength]="8" formControlName="password" id="password" nz-input type="text">
      </ng-container>

      <ng-container *ngIf="mode === 'U'">
        <p class="button-link" (click)="changePassword(visibleObject.ownerUserId)">Cambiar Contraseña</p>
      </ng-container>

      <ng-container *ngIf="mode === 'U' && this.userRole.Banker === this.user?.role">
        <p class="button-link" (click)="chargeBalance(visibleObject.bankingId, visibleObject._id)">Agregar balance</p>
      </ng-container>

      <div class="form-element">
        <label for="status">
          {{'Estado'|translate}}
        </label>
        <nz-switch formControlName="status" id="status" style="padding-left: 10px"></nz-switch>
      </div>

    </form>
  </ng-template>

  <ng-template #viewTemplate let-visibleObject>
    <ng-container *ngIf="visibleObject">
      <nz-descriptions [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }" [nzTitle]="'Usuario web'|translate">
        <nz-descriptions-item [nzTitle]="'HOME.BANKINGS.BANKING.STATUS'|translate">
          {{visibleObject.status}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'Banca'| translate">
          {{visibleObject.bankingId && getBankingName(visibleObject.bankingId)}}
        </nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions [nzTitle]="'dueño'|translate">
        <nz-descriptions-item [nzTitle]="'ownerName'| translate">
          {{visibleObject.ownerName}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'username'| translate">
          {{visibleObject.ownerUsername}}
        </nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
  </ng-template>

</div>
