<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <img src="assets/imgs/betting.svg" alt="logo">
      <h1>{{name}}</h1>
    </div>
    <!--
    TODO USE APP-MENU COMPONENT
    <ul nz-menues nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="{{'HOME.TITLE' | translate}}" nzIcon="home">
        <ul>
          <li nz-menues-item nzMatchRouter>
            <i nz-icon nzType="dashboard" nzTheme="outline"></i>
            <a routerLink="/dashboard">{{'HOME.DASHBOARD.TITLE' | translate}}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="{{'SETTINGS.TITLE' | translate}}" nzIcon="form">
        <ul>
          <li nz-menues-item nzMatchRouter>
            <i nz-icon nzType="team"></i>
            <a routerLink="/users">{{'SETTINGS.USERS.TITLE' | translate}}</a>
          </li>
          <li nz-menues-item nzMatchRouter>
            <i nz-icon nzType="logout"></i>
            <a  routerLink="/login">{{'SETTINGS.LOGOUT.TITLE' | translate}}</a>
          </li>
        </ul>
      </li>
    </ul>-->
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div  class="app-header-left">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
              [nzType]="isCollapsed ? 'menues-unfold' : 'menues-fold'"
            ></i>
          </span>
          <span class="header-trigger">
            <a target="_blank" routerLink="/bettingPanel">
              <i class="trigger"
                 nz-icon
                [nzType]="'shop'"
              ></i>
            </a>
          </span>
        </div>
        <div  class="app-header-right">
          <span class="header-trigger">
            <i nz-dropdown [nzDropdownMenu]="menu" nz-icon nzType="translation" nzTheme="outline"></i>
          </span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item [class.ant-dropdown-menu-item-selected]="'en' === langSelected" (click)="selectLanguage('en')">
                {{'TRANSLATION.ENGLISH' | translate}}
              </li>
              <li nz-menu-item [class.ant-dropdown-menu-item-selected]="'es' === langSelected"  (click)="selectLanguage('es')">
                {{'TRANSLATION.SPANISH' | translate}}
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
