<nz-layout class="app-layout">

  <nz-sider nzCollapsible
            [class.fixed]="isMobile"
            nzBreakpoint="lg"
            [nzCollapsedWidth]="0"
            [nzTrigger]="null"
            [(nzCollapsed)]="isCollapsed"
            nzWidth="256px"
            style="overflow-y: auto">
    <div class="sidebar-logo">
      <img alt="logo" src="assets/imgs/logobanca.png">
      <h1>{{establishmentName}}</h1>
    </div>
    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline" nzTheme="dark">
      <li (click)="(isMobile)? isCollapsed = true: null" nz-submenu nzIcon="home" nzOpen nzTitle="{{'SIDENAV.HOME.TITLE' | translate}}">
        <ul>
          <li *ngIf="[userRole.Admin, userRole.Consortium, userRole.Banker, userRole.Webuser].includes(user?.role)"
              nz-menu-item
              nzMatchRouter>
            <i nz-icon nzTheme="outline" nzType="dashboard"></i>
            <a routerLink="/dashboard">{{'SIDENAV.HOME.DASHBOARD' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Admin, userRole.Consortium, userRole.Banker].includes(user?.role)" nz-menu-item
              nzMatchRouter>
            <i nz-icon nzType="wallet"></i>
            <a routerLink="/transactions">{{'SIDENAV.HOME.TRANSACTIONS' | translate}}</a>
          </li>
          <li *ngIf="user?.role === userRole.Admin" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="apartment"></i>
            <a routerLink="/consortiums">{{'SIDENAV.HOME.CONSORTIUMS' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Consortium, userRole.Banker].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="message"></i>
            <a routerLink="/chat">{{'SIDENAV.HOME.CHAT' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Consortium, userRole.Admin].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="file-text"></i>
            <a routerLink="/tickets">{{'SIDENAV.HOME.TICKETS' | translate}}</a>
          </li>
          <!--<li *ngIf="[userRole.Consortium, userRole.Admin, userRole.Banker].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="file-text"></i>
            <a routerLink="/tickets-web">{{'SIDENAV.HOME.TICKETS_WEB' | translate}}</a>
          </li>-->
          <li *ngIf="[userRole.Admin, userRole.Consortium].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="shop"></i>
            <a routerLink="/bankings">{{'SIDENAV.HOME.BANKINGS' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Admin, userRole.Consortium].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="trophy"></i>
            <a routerLink="/lotteries">{{'SIDENAV.HOME.LOTTERIES' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Admin, userRole.Consortium].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="reconciliation"></i>
            <a routerLink="/results">{{'SIDENAV.HOME.RESULTS' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Admin, userRole.Consortium, userRole.Banker].includes(user?.role)" nz-menu-item
              nzMatchRouter>
            <i nz-icon nzType="team"></i>
            <a routerLink="/web-users">{{'SIDENAV.HOME.WEBUSERS' | translate}}</a>
          </li>
          <!--<li *ngIf="[userRole.Admin].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="reconciliation"></i>
            <a routerLink="/subscriptions">{{'SIDENAV.HOME.SUBSCRIPTIONS' | translate}}</a>
          </li>
          <li *ngIf="user?.role === userRole.Admin" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="question"></i>
            <a routerLink="/help">{{'SIDENAV.HOME.HELP' | translate}}</a>
          </li>-->
        </ul>
      </li>
      <li (click)="(isMobile)? isCollapsed = true: null" nz-submenu nzIcon="form" nzOpen nzTitle="{{'SIDENAV.SETTINGS.TITLE' | translate}}">
        <ul>
          <li *ngIf="user?.role === userRole.Admin" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="team"></i>
            <a routerLink="/users">{{'SIDENAV.SETTINGS.USERS' | translate}}</a>
          </li>

          <li (click)="logout()" nz-menu-item>
            <i nz-icon nzType="logout"></i>
            <a>{{'SIDENAV.SETTINGS.LOGOUT' | translate}}</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="isCollapsed = !isCollapsed" *ngIf="isMobile" style="display: flex;
    align-items: center;
    justify-content: center;
    background-color: #034a8e;
    color: white;">
        <i nz-icon nzType="left"></i>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="overflow-y: auto">
    <nz-header>
      <div class="app-header">
        <div class="app-header-left">
          <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
            <i [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
               class="trigger"
               nz-icon
            ></i>
          </span>
          <span *ngIf="user?.role === userRole.Banker" class="header-trigger">
            <a routerLink="/bettingPanel">
              <button [nzSize]="'large'" nz-button nzType="primary">
                <i nz-icon nzType="shop"></i>
                {{'TOPBAR.BETTING_PANEL'|translate}}
              </button>
            </a>
          </span>
        </div>
        <div class="app-header-right">
          <ng-container *ngIf="[userRole.Consortium, userRole.Banker].includes(user?.role)">
            <span class="header-trigger">
            <nz-badge [nzCount]="messages.length" [nzShowZero]="false">
              <i [nzDropdownMenu]="menu2" nzTrigger="click" style="font-size: 20px;" nz-dropdown nz-icon
                 nzTheme="outline" nzType="message"></i>
            </nz-badge>
          </span>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
              <ul nz-menu nzSelectable class="chat-container">
                <li *ngIf="messages.length === 0" (click)="goToChat()"
                    nz-menu-item>
                  <p style="margin: 0">{{'TOPBAR.MESSAGES.NO_NEW_MESSAGES'|translate}}</p>
                </li>
                <li class="message" *ngFor="let message of getTopMessages()" (click)="goToChat()"
                    nz-menu-item>
                  <p class="message-text">{{message.message}}</p>
                  <p class="origin">{{message.originName}}</p>
                </li>
                <li *ngIf="messages.length > 5" (click)="goToChat()" nz-menu-item>
                  <p
                    style="text-align: center; margin: 0">{{messages.length - getTopMessages().length}} {{'TOPBAR.MESSAGES.MORE'|translate}}</p>
                </li>
              </ul>
            </nz-dropdown-menu>
          </ng-container>
          <span class="header-trigger">
            <i [nzDropdownMenu]="menu" nz-dropdown nz-icon nzTheme="outline" nzType="translation"></i>
          </span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li (click)="selectLanguage('en')" [class.ant-dropdown-menu-item-selected]="'en' === langSelected"
                  nz-menu-item>
                {{'TOPBAR.TRANSLATION.ENGLISH' | translate}}
              </li>
              <li (click)="selectLanguage('es')" [class.ant-dropdown-menu-item-selected]="'es' === langSelected"
                  nz-menu-item>
                {{'TOPBAR.TRANSLATION.SPANISH' | translate}}
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
