<nz-layout class="app-layout">

  <nz-sider [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            class="menu-sidebar"
            nzBreakpoint="md"
            nzCollapsible
            nzWidth="256px">
    <div class="sidebar-logo">
      <img alt="logo" src="assets/imgs/betting.svg">
      <h1>{{establishmentName}}</h1>
    </div>
    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline" nzTheme="dark">
      <li nz-submenu nzIcon="home" nzOpen nzTitle="{{'HOME.TITLE' | translate}}">
        <ul>
          <li *ngIf="[userRole.Admin, userRole.Consortium, userRole.Banker].includes(user?.role)" nz-menu-item
              nzMatchRouter>
            <i nz-icon nzTheme="outline" nzType="dashboard"></i>
            <a routerLink="/dashboard">{{'HOME.DASHBOARD.TITLE' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Admin, userRole.Consortium, userRole.Banker].includes(user?.role)" nz-menu-item
              nzMatchRouter>
            <i nz-icon nzType="wallet"></i>
            <a routerLink="/transactions">{{'HOME.TRANSACTIONS.TITLE' | translate}}</a>
          </li>
          <li *ngIf="user?.role === userRole.Admin" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="apartment"></i>
            <a routerLink="/consortiums">{{'Consorcios' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Consortium, userRole.Banker].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="message"></i>
            <a routerLink="/chat">{{'Chat' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Admin, userRole.Consortium].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="shop"></i>
            <a routerLink="/bankings">{{'HOME.BANKINGS.TITLE' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Admin, userRole.Consortium].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="trophy"></i>
            <a routerLink="/lotteries">{{'HOME.LOTTERIES.TITLE' | translate}}</a>
          </li>
          <li *ngIf="[userRole.Admin, userRole.Consortium].includes(user?.role)" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="reconciliation"></i>
            <a routerLink="/results">{{'Resultados' | translate}}</a>
          </li>
          <li *ngIf="user?.role === userRole.Admin" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="question"></i>
            <a routerLink="/help">{{'Help' | translate}}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzIcon="form" nzOpen nzTitle="{{'SETTINGS.TITLE' | translate}}">
        <ul>
          <li *ngIf="user?.role === userRole.Admin" nz-menu-item nzMatchRouter>
            <i nz-icon nzType="team"></i>
            <a routerLink="/users">{{'SETTINGS.USERS.TITLE' | translate}}</a>
          </li>

          <li (click)="logout()" nz-menu-item>
            <i nz-icon nzType="logout"></i>
            <a>{{'SETTINGS.LOGOUT.TITLE' | translate}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="app-header-left">
          <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
            <i [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
               class="trigger"
               nz-icon
            ></i>
          </span>
          <span *ngIf="user?.role === userRole.Banker" class="header-trigger">
            <a routerLink="/bettingPanel">
              <button [nzSize]="'large'" nz-button nzType="primary">
                <i nz-icon nzType="shop"></i>
                Panel de apuestas
              </button>
            </a>
          </span>
        </div>
        <div class="app-header-right">
          <span class="header-trigger">
            <nz-badge [nzCount]="messages.length"  [nzShowZero]="false">
              <i [nzDropdownMenu]="menu2" nzTrigger="click" style="font-size: 20px;" nz-dropdown nz-icon nzTheme="outline" nzType="message"></i>
            </nz-badge>
          </span>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu nzSelectable class="chat-container">
              <li *ngIf="messages.length === 0" (click)="goToChat()"
                  nz-menu-item>
                <p style="margin: 0">No hay mensajes nuevos</p>
              </li>
              <li class="message" *ngFor="let message of getTopMessages()" (click)="goToChat()"
                  nz-menu-item>
                <p class="message-text">{{message.message}}</p>
                <p class="origin">{{message.originName}}</p>
              </li>
              <li *ngIf="messages.length > 5" (click)="goToChat()" nz-menu-item>
                  <p style="text-align: center; margin: 0">{{messages.length - getTopMessages().length}} mas</p>
              </li>
            </ul>
          </nz-dropdown-menu>
          <span class="header-trigger">
            <i [nzDropdownMenu]="menu" nz-dropdown nz-icon nzTheme="outline" nzType="translation"></i>
          </span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li (click)="selectLanguage('en')" [class.ant-dropdown-menu-item-selected]="'en' === langSelected"
                  nz-menu-item>
                {{'TRANSLATION.ENGLISH' | translate}}
              </li>
              <li (click)="selectLanguage('es')" [class.ant-dropdown-menu-item-selected]="'es' === langSelected"
                  nz-menu-item>
                {{'TRANSLATION.SPANISH' | translate}}
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
