
<div class="content-login">
  <div style="height: 250px;align-items: flex-end;padding-bottom: 20px">
    <img src="../../../../assets/imgs/logobanca2.png" alt="Logo" class="logo">
  </div>
  <div>
    <nz-card class="card-style" [nzTitle]="'LOGIN.TITLE'|translate">
      <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="login-form" nz-form>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'LOGIN.ERROR_USERNAME'|translate">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="username" nz-input [placeholder]="'LOGIN.USERNAME'|translate" type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'LOGIN.ERROR_PASSWORD'|translate">
            <nz-input-group nzPrefixIcon="lock">
              <input formControlName="password" nz-input [placeholder]="'LOGIN.PASSWORD'|translate" type="password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button [nzLoading]="loading" [nzType]="'primary'" class="login-form-button login-form-margin" nz-button>
          {{'UTILS.ACCEPT'|translate}}
        </button>
      </form>
    </nz-card>
  </div>
</div>

