

<div>
  <app-abm [title]="'Accounts'"
           [formTemplate]="formTemplate"
           [viewTemplate]="viewTemplate"
           [defaultForm]="defaultForm"
           [onSubmit]="onSubmit"
           [form]="formABM"
           [columns]="columns"
           [controller]="listOfData">
  </app-abm>
</div>


<ng-template #formTemplate>
  <form [formGroup]="formABM">

    <div>
      <label for="id">
        Id
      </label>
      <input nz-input id="id" type="text" formControlName="id">
    </div>

    <div>
      <label for="name">
        Name
      </label>
      <input nz-input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input nz-input id="address" type="text" formControlName="address">
    </div>

  </form>
</ng-template>

<ng-template #viewTemplate let-viewItem>
  <ng-container *ngIf="viewItem">
    <div>
      <span>
        Id
      </span>
      {{viewItem.id}}
    </div>

    <div>
      <span>
        Name
      </span>
      {{viewItem.name}}
    </div>

    <div>
      <span>
        Address
      </span>
      {{viewItem.address}}
    </div>

    <div>
      <span>
        Balance
      </span>
      {{viewItem.balance}}
    </div>
  </ng-container>
</ng-template>
