

<app-abm [title]="'SETTINGS.ACCOUNTS.TITLE'"
         [fetcher]="fetcher"
         [fetcherSave]="fetcherSave"
         [fetcherDelete]="fetcherDelete"
         [formTemplate]="formTemplate"
         [viewTemplate]="viewTemplate"
         [defaultForm]="defaultForm"
         [form]="formABM"
         [columns]="columns">
</app-abm>


<ng-template #formTemplate>
  <form [formGroup]="formABM">

    <div>
      <label for="name">
        Name
      </label>
      <input nz-input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input nz-input id="address" type="text" formControlName="address">
    </div>

  </form>
</ng-template>

<ng-template #viewTemplate let-visibleObject>
  <ng-container *ngIf="visibleObject">
    <div>
      <span>
        Id
      </span>
      {{visibleObject.id}}
    </div>

    <div>
      <span>
        Name
      </span>
      {{visibleObject.name}}
    </div>

    <div>
      <span>
        Address
      </span>
      {{visibleObject.address}}
    </div>

    <div>
      <span>
        Balance
      </span>
      {{visibleObject.balance}}
    </div>
  </ng-container>
</ng-template>
