<nz-drawer
  (nzOnClose)="close()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzMaskStyle]="{ backgroundColor: '#0000006e' }"
  [nzTitle]="nzTitle"
  [nzVisible]="nzVisible"
  [nzWidth]="500"
>
  <div class="drawer">
    <ng-container *ngIf="reloadingTickets">
      <div class="lottery-loading">
        <i nz-icon nzTheme="outline" nzType="loading"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="!reloadingTickets">
      <nz-list *ngIf="bets.length > 0" nzBordered nzSize="small">
        <nz-list-item *ngFor="let item of bets">
          <div class="left-side">
            <b>#{{item._id.toString()}}</b> <br> {{item.date | date: 'dd/MM/yyyy HH:mm:ss'}}
          </div>
          <div class="right-side">
            <nz-tag *ngIf="item.betStatus === betStatusEnum.Winner" [nzColor]="'green'" style="padding: 0 2px 0 2px;">
              GANADOR
            </nz-tag>
            <nz-tag *ngIf="item.betStatus === betStatusEnum.Pending" [nzColor]="'blue'" style="padding: 0 2px 0 2px;">
              PENDIENTE
            </nz-tag>
            <nz-tag *ngIf="item.betStatus === betStatusEnum.Cancelled" [nzColor]="'brown'"
                    style="padding: 0 2px 0 2px;">
              CANCELADO
            </nz-tag>
            <nz-tag *ngIf="item.betStatus === betStatusEnum.Loser" [nzColor]="'red'" style="padding: 0 2px 0 2px;">
              PERDEDOR
            </nz-tag>
            <nz-tag *ngIf="item.betStatus === betStatusEnum.Claimed" [nzColor]="'darkgreen'"
                    style="padding: 0 2px 0 2px;">
              RECLAMADO
            </nz-tag>
            <nz-tag *ngIf="item.betStatus === betStatusEnum.Expired" [nzColor]="'red'" style="padding: 0 2px 0 2px;">
              EXPIRADO
            </nz-tag>
          </div>
          <ul nz-list-item-actions>
            <nz-list-item-action *ngIf="canSeeSn(item)">
              <a target="_blank" [href]="getSendWhatsApp(item)">
                <i nz-icon nzType="whats-app" class="icon primary" nzTheme="outline"></i>
              </a>
            </nz-list-item-action>
            <nz-list-item-action>
              <a (click)="openTicket(item)">
                <i class="icon primary" nz-icon nz-tooltip="Ver ticket" nzTheme="outline" nzType="eye"></i>
              </a>
            </nz-list-item-action>
            <nz-list-item-action>
              <a (click)="cloneTicket(item)">
                <i class="icon primary" nz-icon nz-tooltip="Clonar ticket" nzTheme="outline" nzType="file-add"></i>
              </a>
            </nz-list-item-action>
            <nz-list-item-action *ngIf="canSeeSn(item)">
              <a (click)="printTicket(item)">
                <i class="icon primary" nz-icon nz-tooltip="Imprimir ticket" nzTheme="outline" nzType="printer"></i>
              </a>
            </nz-list-item-action>
            <nz-list-item-action *ngIf="item.betStatus === betStatusEnum.Pending && canCancelTicket(item)">
              <a (click)="cancelTicket(item)">
                <i class="icon error" nz-icon nz-tooltip="Cancelar ticket" nzTheme="outline" nzType="delete"></i>
              </a>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
      <p *ngIf="bets.length === 0" style="text-align: center">NO HAY TICKETS DISPONIBLES</p>
    </ng-container>
  </div>
</nz-drawer>
