<nz-layout class="layout game-layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0"
            [(nzCollapsed)]="isCollapsed"
            [style.background]="'url(' + urlBg + ') center no-repeat'"
            [style.backgroundSize]="'cover'"
            >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="assets/imgs/love-sports-betting-logo.png" alt="logo">
      </a>
    </div>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>Mi balance</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="question"></i>
        <span>How it works</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="alert"></i>
        <span>Events</span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="logout"></i>
        <span routerLink="/authentication/login">Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="sidebar-logo sidebar-logo-header" *ngIf="isCollapsed">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="assets/imgs/love-sports-betting-logo.png" alt="logo">
        </a>
      </div>
      <div class="name-container">
        <h5 nz-typography>JUAN PABLO</h5>
      </div>
    </nz-header>
    <nz-content class="nz-content-container">

      <div nz-row [nzGutter]="20">
        <div nz-col  nzXs="24" nzSm="24" nzMd="6" class="mb-20">
          <app-widget [title]="'Balance'" [value]="1000.11" [icon]="'stock'"></app-widget>
        </div>
        <div nz-col  nzXs="24" nzSm="24" nzMd="18" class="categorys">
          <app-category *ngFor="let item of data" [title]="item.title" [disabled]="item.disabled" [description]="'Eventos: '+item.events" [background]="item.background">
          </app-category>
        </div>

      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
