<div>
  <label for="password">
    <input id="password" [maxLength]="35" [minLength]="8" style="margin-bottom: 10px" [placeholder]="'UTILS.NEW_PASSWORD'|translate" [(ngModel)]="password" nz-input type="text">
  </label>
  <label for="password2">
    <input id="password2" [maxLength]="35" [minLength]="8" style="margin-bottom: 10px" [placeholder]="'UTILS.CONFIRM_PASSWORD'|translate" [(ngModel)]="password2" nz-input type="text">
  </label>

  <div class="footer-buttons">
    <button (click)="cancel()" [disabled]="loading" [nzType]="'default'" nz-button>{{'UTILS.CANCEL'|translate}}</button>
    <button (click)="accept()"
            [nzLoading]="loading"
            [disabled]="!password || !password2 || password !== password2"
            [nzType]="'primary'" nz-button>{{'UTILS.ACCEPT'|translate}}</button>
  </div>
</div>

