<div>
  <nz-select [nzPlaceHolder]="('UTILS.DEPOSIT'|translate)+'/'+('UTILS.WITHDRAW'|translate)"
             style="width:100%; margin-bottom: 10px" [(ngModel)]="typeSelected">
    <nz-option [nzLabel]="'UTILS.DEPOSIT'|translate" [nzValue]="type.Credit"></nz-option>
    <nz-option [nzLabel]="'UTILS.WITHDRAW'|translate" [nzValue]="type.Debit"></nz-option>
  </nz-select>

  <nz-input-number [nzPlaceHolder]="'UTILS.AMOUNT'|translate" [nzMin]="1" [(ngModel)]="amount"
                   style="margin-bottom: 10px; width: 100%"></nz-input-number>

  <div class="footer-buttons">
    <button (click)="cancel()" [disabled]="loading" [nzType]="'default'" nz-button>{{'UTILS.CANCEL'|translate}}</button>
    <button (click)="accept()"
            [nzLoading]="loading"
            [disabled]="!amount || !typeSelected"
            [nzType]="'primary'" nz-button>{{'UTILS.ACCEPT'|translate}}</button>
  </div>
</div>

