<div>
  <nz-select [nzPlaceHolder]="'Depositar/Retirar'" style="width:100%; margin-bottom: 10px" [(ngModel)]="typeSelected">
    <nz-option [nzLabel]="'Depositar'" [nzValue]="type.Credit"></nz-option>
    <nz-option [nzLabel]="'Retirar'" [nzValue]="type.Debit"></nz-option>
  </nz-select>

  <nz-input-number [nzPlaceHolder]="'Monto'" [nzMin]="1" [(ngModel)]="amount"
                   style="margin-bottom: 10px; width: 100%"></nz-input-number>

  <div class="footer-buttons">
    <button (click)="cancel()" [disabled]="loading" [nzType]="'default'" nz-button>Cancelar</button>
    <button (click)="accept()"
            [nzLoading]="loading"
            [disabled]="!amount || !typeSelected"
            [nzType]="'primary'" nz-button>Aceptar</button>
  </div>
</div>

