<!-- TODO
<ul nz-menu nzMode="horizontal" class="secondary-toolbar-navbar"
    [style.background-color]="ngClass ? ngClass.backgroundColor : null">
  <ng-container
    *ngFor="let item of items">
    <ng-container
      *ngIf="item.innerItems && item.innerItems.length > 0; else ChildlessItem">
      <li nz-submenu nzTitle="{{item.text | translate}}" class="first" *ngIf="!item.hidden"
          [nzDisabled]="notNavigable ? notNavigable : !item.enable ? !item.enable : false"
          (click)="notNavigable ? showModal(item.routerLink) : ''">
        <ul>
          <ng-container
            *ngFor="let subItem of item.innerItems">
            &lt;!&ndash; third level items &ndash;&gt;
            <ng-container
              *ngIf="subItem.innerItems && item.innerItems.length > 0; else ChildlessSubItem">
              <li class="second" *ngIf="!subItem.hidden" nz-submenu nzTitle="{{subItem.text | translate}}">
                <ul>
                  <ng-container
                    *ngFor="let subSubItem of subItem.innerItems">
                    <li nz-menu-item nzMatchRouter [nzDisabled]="!subSubItem.enable">
                      <a [routerLink]="subSubItem.routerLink">
                        {{subSubItem.text | translate}}
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
            &lt;!&ndash; Second level items no innerItems &ndash;&gt;
            <ng-template #ChildlessSubItem>
              <li *ngIf="!subItem.hidden" class="second" nz-menu-item nzMatchRouter  [nzDisabled]="!subItem.enable">
                <a [routerLink]="subItem.routerLink">
                  {{subItem.text | translate}}
                </a>
              </li>
            </ng-template>
          </ng-container>
        </ul>
      </li>
    </ng-container>
    &lt;!&ndash; First level items no innerItems &ndash;&gt;
    <ng-template #ChildlessItem>
      <li nz-menu-item class="first" *ngIf="!item.hidden" nzMatchRouter
          [nzDisabled]="notNavigable ? notNavigable : !item.enable ? !item.enable : false"
          (click)="notNavigable ? showModal(item.routerLink) : ''">
        <a [routerLink]="item.routerLink">
          {{item.text | translate}}
        </a>
      </li>
    </ng-template>
  </ng-container>
</ul>-->
