@import '../../../../styles';


#pie-chart-parent {
  display: grid;
}


.balls-container {
  display: flex;
  flex-wrap: wrap;

  app-ball {
    margin: 10px;
  }
}

/*:host */
::ng-deep .ant-input-group-addon {
    min-width: 140px;
  .add-on-input {
  }
}
nz-select {
  width: 100%;
}
