<div class="inner-content fit-height mb-20" style="min-height: 300px;">
  <app-abm [title]="'Loterias'"
           [fetcher]="fetcher"
           [fetcherCreate]="fetcherCreate"
           [fetcherUpdate]="fetcherUpdate"
           [fetcherDelete]="fetcherDelete"
           [formTemplate]="formTemplate"
           [viewTemplate]="viewTemplate"
           [defaultForm]="defaultForm"
           [columns]="columns">
  </app-abm>


  <ng-template #formTemplate>
    <form [formGroup]="formABM">

      <div class="form-element">
        <label for="name">
          {{'name'|translate}}
        </label>
        <nz-select id="name" nzMode="tags" nzPlaceHolder="Seleccione la loteria a agregar" formControlName="name">
          <nz-option *ngFor="let option of lotteries" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
        </nz-select>
      </div>



      <div class="form-element">
        <label for="status">
          {{'status'|translate}}
        </label>
        <nz-switch style="padding-left: 10px" id="status" formControlName="status"></nz-switch>
      </div>


      <div class="form-element">
        <label for="bankings">
          {{'bankings'|translate}}
        </label>
        <nz-select id="bankings" nzMode="tags" nzPlaceHolder="Bancas a aplicar, dejar vacio selecciona todas" formControlName="bankings">
          <nz-option *ngFor="let option of bankings" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
        </nz-select>
      </div>


      <div class="form-element">
        <label for="limits">
          <h3>{{'Limites'|translate}}</h3>
        </label>
      </div>

      <div id="limits" nz-row nzGutter="8">
        <div class="form-element" nz-col nzXs="12">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="straightPlay" nzAddOnBefore="{{'Directo'|translate}}">
            <input  type="text" nz-input formControlName="straightPlay"/>
          </nz-input-group>
        </div>

        <div class="form-element" nz-col nzXs="12">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="palePlay" nzAddOnBefore="{{'Pale'|translate}}">
            <input type="text" nz-input formControlName="palePlay"/>
          </nz-input-group>
        </div>

        <div class="form-element" nz-col nzXs="12">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="tripletPlay" nzAddOnBefore="{{'Tripleta'|translate}}">
            <input type="text" nz-input formControlName="tripletPlay"/>
          </nz-input-group>
        </div>
      </div>

      <div class="form-element">
        <label for="prizes">
          <h3>{{'prizes'|translate}}</h3>
        </label>
      </div>
            <!--TODO Agregar a todos un tooltip para dejar en 0 si quieren desabilitar-->

      <div id="prizes" nz-row nzGutter="8">
        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="firstPrize" nzAddOnBefore="{{'Primera'|translate}}">
            <input type="number" nz-input formControlName="firstPrize"/>
          </nz-input-group>
        </div>


        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="secondPrize" nzAddOnBefore="{{'Segunda'|translate}}">
            <input type="number" nz-input formControlName="secondPrize"/>
          </nz-input-group>
        </div>


        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="thirdPrize" nzAddOnBefore="{{'Tercera'|translate}}">
            <input type="number" nz-input formControlName="thirdPrize"/>
          </nz-input-group>
        </div>


        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="doublePrize" nzAddOnBefore="{{'Dobles'|translate}}">
            <input type="number" nz-input formControlName="doublePrize"/>
          </nz-input-group>
        </div>


        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="palePrize" nzAddOnBefore="{{'Pale'|translate}}">
            <input type="number" nz-input formControlName="palePrize"/>
          </nz-input-group>
        </div>


        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="paleTwoThreePrize" nzAddOnBefore="{{'Pale 2-3'|translate}}">
            <input type="number" nz-input formControlName="paleTwoThreePrize"/>
          </nz-input-group>
        </div>


        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="tripletPrize" nzAddOnBefore="{{'Tripleta'|translate}}">
            <input type="number" nz-input formControlName="tripletPrize"/>
          </nz-input-group>
        </div>


        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="twoNumbersPrize" nzAddOnBefore="{{'2 Numeros'|translate}}">
            <input type="number" nz-input formControlName="twoNumbersPrize"/>
          </nz-input-group>
        </div>


        <div nz-col nzXs="12" class="form-element">
          <nz-input-group [nzSuffix]="PrizeLimitsExtraInfo" class="add-on-input" id="superPalePrize" nzAddOnBefore="{{'Super Pale'|translate}}">
            <input type="number" nz-input formControlName="superPalePrize"/>
          </nz-input-group>
        </div>
      </div>

      <ng-template #PrizeLimitsExtraInfo><i nz-icon nz-tooltip nzTooltipTitle="Ingrese 0 para desabilitar" nzType="info-circle"></i></ng-template>
    </form>
  </ng-template>

  <ng-template #viewTemplate let-visibleObject>
    <ng-container *ngIf="visibleObject">
      <!--TODO que es esto exactamente?-->
      <div>
          <span>
            {{'HOME.BANKINGS.BANKING.NAME'|translate}}
          </span>
        {{visibleObject.name}}
      </div>

      <div>
          <span>
              {{'HOME.BANKINGS.BANKING.PHONE'|translate}}
          </span>
        {{visibleObject.phone}}
      </div>
      <div>
          <span>
              {{'HOME.BANKINGS.BANKING.EMAIL'|translate}}
          </span>
        {{visibleObject.email}}
      </div>

      <div>
          <span>
            {{'HOME.BANKINGS.BANKING.STATUS'|translate}}
          </span>
        {{visibleObject.status}}
      </div>

      <div>
          <span>
            {{'HOME.BANKINGS.BANKING.LANGUAGE'|translate}}
          </span>
        {{visibleObject.language}}
      </div>
    </ng-container>
  </ng-template>

</div>
