<app-page-loader-bouncing [loading]="loading"></app-page-loader-bouncing>
<div class="inner-content fit-height mb-20" style="min-height: 300px;">
  <app-abm [title]="'Loterias'"
           [fetcher]="fetcher"
           [fetcherUpdate]="fetcherUpdate"
           [formTemplate]="formTemplate"
           [viewTemplate]="viewTemplate"
           [defaultForm]="defaultForm"
           [parseData]="parseData"
           [setValueForm]="setValueForm"
           [form]="formABM"
           [columns]="columns">
  </app-abm>


  <ng-template #formTemplate let-mode let-visibleObject="visibleObject">
    <form [formGroup]="formABM">

      <nz-divider class="title" [nzText]="'Loteria: '+visibleObject?.name" nzOrientation="center"></nz-divider>

      <div class="form-element">
        <label for="bankings">
          {{'Bancas'|translate}}
        </label>
        <nz-select id="bankings" nzMode="tags" (ngModelChange)="onChangeBancas($event)" nzPlaceHolder="Bancas a aplicar" formControlName="bankings">
          <nz-option *ngFor="let option of bankings" [nzLabel]="option.name" [nzValue]="option._id"></nz-option>
        </nz-select>
      </div>


      <nz-divider class="title" [nzText]="'Precios'" nzOrientation="left"></nz-divider>

      <div id="prizes" nz-row nzGutter="8">
        <div nz-col nzXs="12" class="form-element" *ngFor="let play of availablePlays">
          <nz-input-group class="add-on-input" [id]="play.key" nzAddOnBefore="{{play.title|translate}}">
            <div nz-row>
              <div nz-col nzSpan="8" class="container-switch">
                <nz-switch nzSize="small" [formControlName]="'status.'+play.key"></nz-switch>
              </div>
              <div nz-col nzSpan="16">
                <nz-input-number
                  style="width:100%"
                  [nzDisabled]="!formABM.value || !formABM.value['status.'+play.key]"
                  [nzMin]="0"
                  [formControlName]="play.key"></nz-input-number>
              </div>
            </div>
          </nz-input-group>
        </div>
      </div>

      <nz-divider class="title" [nzText]="'Limites'" nzOrientation="left"></nz-divider>


      <div id="bettings" nz-row nzGutter="8">
        <div nz-col nzXs="12" class="form-element" *ngFor="let play of availableBettingPlays">
          <nz-input-group class="add-on-input" [id]="play.key" nzAddOnBefore="{{play.title|translate}}">
            <div nz-row>
              <div nz-col nzSpan="8" class="container-switch">
                <nz-switch nzSize="small" [formControlName]="'status.'+play.key"></nz-switch>
              </div>
              <div nz-col nzSpan="16">
                <nz-input-number
                  style="width:100%"
                  [nzDisabled]="!formABM.value || !formABM.value['status.'+play.key]"
                  [nzMin]="0"
                  [formControlName]="play.key"></nz-input-number>
              </div>
            </div>
          </nz-input-group>
        </div>

      </div>
    </form>
  </ng-template>

  <ng-template #viewTemplate let-visibleObject>
    <ng-container *ngIf="visibleObject">
      <div class="description">
        <span>
          {{'Nombre'|translate}}:
        </span>
        <b>{{visibleObject.name}}</b>
      </div>

      <div class="description">
        <span>
            {{'Alias'|translate}}:
        </span>
        <b>{{visibleObject.nickname}}</b>
      </div>

      <div class="description">
        <span>
            {{'Horario de juego'|translate}}:
        </span>
        <b>{{visibleObject.playTime}}</b>
      </div>

      <div class="description">
        <span>
            {{'Horario apertura'|translate}}:
        </span>
        <b>{{visibleObject.openTime}}</b>
      </div>

      <div class="description">
        <span>
          {{'Horario cierre'|translate}}:
        </span>
        <b>{{visibleObject.closeTime}}</b>
      </div>

      <div class="description">
        <span>
          {{'Estado'|translate}}:
        </span>
        <b>{{visibleObject.status ? 'Habilitada' : 'Inhabilitada'}}</b>
      </div>
      <div class="description color">
        <span>
          {{'Color'|translate}}:
        </span>
        <div class="box" [ngStyle]="{backgroundColor:visibleObject.color}"></div>
      </div>
      <div class="schedule">
        <div class="schedule-day" [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Mon)">
          <span class="title">{{days.Mon}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Mon)">{{visibleObject.openTime}}
            <br>To<br>{{visibleObject.closeTime}}</p>
        </div>
        <div class="schedule-day" [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Tue)">
          <span class="title">{{days.Tue}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Tue)">{{visibleObject.openTime}}
            <br>To<br>{{visibleObject.closeTime}}</p>
        </div>
        <div class="schedule-day" [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Wed)">
          <span class="title">{{days.Wed}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Wed)">{{visibleObject.openTime}}
            <br>To<br>{{visibleObject.closeTime}}</p>
        </div>
        <div class="schedule-day" [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Thu)">
          <span class="title">{{days.Thu}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Thu)">{{visibleObject.openTime}}
            <br>To<br>{{visibleObject.closeTime}}</p>
        </div>
        <div class="schedule-day" [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Fri)">
          <span class="title">{{days.Fri}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Fri)">{{visibleObject.openTime}}
            <br>To<br>{{visibleObject.closeTime}}</p>
        </div>
        <div class="schedule-day" [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Sat)">
          <span class="title">{{days.Sat}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Sat)">{{visibleObject.openTime}}
            <br>To<br>{{visibleObject.closeTime}}</p>
        </div>
        <div class="schedule-day" [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Sun)">
          <span class="title">{{days.Sun}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Sun)">{{visibleObject.openTime}}
            <br>To<br>{{visibleObject.closeTime}}</p>
        </div>
      </div>
    </ng-container>
  </ng-template>

</div>
