<app-page-loader-bouncing [loading]="loading"></app-page-loader-bouncing>
<div class="inner-content fit-height mb-20" style="min-height: 300px;">
  <app-abm [columns]="columns"
           [defaultForm]="defaultForm"
           [fetcherUpdate]="fetcherUpdate"
           [fetcher]="fetcher"
           [formTemplate]="formTemplate"
           [form]="formABM"
           [parseData]="parseData"
           [setValueForm]="setValueForm"
           [title]="'LOTTERIES.TITLE'"
           [viewTemplate]="viewTemplate">
  </app-abm>

  <ng-template #formTemplate let-mode let-visibleObject="visibleObject">
    <form [formGroup]="formABM">

      <nz-divider [nzText]="('LOTTERIES.CREATE.LOTTERY'|translate)+': '+visibleObject?.name" class="title" nzOrientation="center"></nz-divider>

      <div class="form-element">
        <label for="bankings">
          {{'LOTTERIES.CREATE.BANKINGS'|translate}}
        </label>
        <nz-select (ngModelChange)="onChangeBancas($event)" formControlName="bankings" id="bankings" nzMode="tags">
          <nz-option *ngFor="let option of bankings" [nzLabel]="option.name" [nzValue]="option._id"></nz-option>
        </nz-select>
      </div>

      <!-- PRICES --------------------------------------------------------------------- -->
      <nz-divider [nzText]="'LOTTERIES.CREATE.PRIZES'|translate" class="title" nzOrientation="left"></nz-divider>

      <div id="prizes" nz-row nzGutter="8">
        <div *ngFor="let play of availablePlays" class="form-element" nz-col nzXs="12">
          <nz-input-group [id]="play.key" class="add-on-input" nzAddOnBefore="{{'LOTTERIES.CREATE.'+play.title|translate}}">

            <div nz-row>
              <div class="container-switch" nz-col nzSpan="8">
                <nz-switch [formControlName]="'status.'+play.key" nzSize="small"></nz-switch>
              </div>
              <div nz-col nzSpan="16">
                <nz-input-number
                  [formControlName]="play.key"
                  [nzDisabled]="!formABM.value || !formABM.value['status.'+play.key]"
                  [nzMin]="0"
                  style="width:100%"></nz-input-number>
              </div>
            </div>
          </nz-input-group>
        </div>
      </div>

      <!-- LIMITS --------------------------------------------------------------------- -->
      <nz-divider [nzText]="'LOTTERIES.CREATE.LIMITS'|translate" class="title" nzOrientation="left"></nz-divider>

      <div id="bettings" nz-row nzGutter="8">
        <div *ngFor="let play of availableBettingPlays" class="form-element" nz-col nzXs="24">
          <nz-input-group [id]="play.key" class="add-on-input" nzAddOnBefore="{{'LOTTERIES.CREATE.'+play.title|translate}}">
            <div nz-row>
              <div class="container-switch" nz-col nzSpan="8">
                <nz-switch [formControlName]="'status.'+play.key" nzSize="small"></nz-switch>
              </div>
              <div nz-col nzSpan="16">
                <nz-input-number
                  [formControlName]="play.key"
                  [nzDisabled]="!formABM.value || !formABM.value['status.'+play.key]"
                  [nzMin]="0"
                  style="width:100%">
                </nz-input-number>
              </div>
            </div>
          </nz-input-group>
        </div>
      </div>

      <!-- BLOCKING --------------------------------------------------------------------- -->
      <nz-divider [nzText]="'Bloqueos'" class="title" nzOrientation="left"></nz-divider>
      <!-- TODO TRANSLATE -->
      <div id="blocking">
        <nz-form-item *ngFor="let blocking of blockedNumbers" style="padding: 5px 0">
          <nz-input-group>
            <div nz-row>
              <div nz-col nzXs="13">
                <nz-input-number [nzMin]="0"
                                 [nzMax]="999999"
                                 [nzStep]="1"
                                 [nzPrecision]="0"
                                 [nzPrecisionMode]="'cut'"
                                 [(ngModel)]="blocking.numbers"
                                 [ngModelOptions]="{standalone: true}"
                                 style="width:100%">
                </nz-input-number>
              </div>
              <div nz-col nzXs="9">
                <nz-range-picker [nzRanges]="ranges"
                                 [id]="blocking.id"
                                 [nzDisabledDate]="blockedDisabledDates"
                                 [(ngModel)]="blocking.dates"
                                 [ngModelOptions]="{standalone: true}"></nz-range-picker>
              </div>
              <button nz-col nzXs="2" nz-button (click)="removeBlocking(blocking, $event)">
                <i nz-icon nzType="minus"
                   nzTheme="outline"></i>
              </button>
            </div>
          </nz-input-group>
        </nz-form-item>
        <div nz-row style="padding-top: 10px">
          <div nz-col [nzOffset]="9" nzXs="6">
            <button nz-button nzType="primary" (click)="addBlocking($event)">{{'Agregar'|translate}}
              <i nz-icon nzType="plus"
                 nzTheme="outline"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #viewTemplate let-visibleObject>
    <ng-container *ngIf="visibleObject">
      <nz-descriptions [nzTitle]="'LOTTERIES.VIEW.LOTTERY_DATA'| translate">
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.NAME'|translate">
          {{visibleObject.name}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.ALIAS'|translate">
          {{visibleObject.nickname}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.PLAY_TIME'|translate">
          {{visibleObject.playTime}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.OPEN_TIME'|translate">
          {{visibleObject.openTime}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.CLOSE_TIME'|translate">
          {{visibleObject.closeTime}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.STATUS'|translate">
          {{visibleObject.status ? ('LOTTERIES.VIEW.ENABLED'|translate) : ('LOTTERIES.VIEW.DISABLED'|translate)}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'LOTTERIES.VIEW.COLOR'|translate">
          <nz-tag [nzColor]="visibleObject.color">{{visibleObject.color}}</nz-tag>
        </nz-descriptions-item>
      </nz-descriptions>

      <div class="schedule">
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Mon)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Mon)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Mon)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Tue)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Tue)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Tue)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Wed)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Wed)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Wed)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Thu)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Thu)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Thu)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Fri)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Fri)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Fri)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Sat)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Sat)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Sat)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
        <div [class.isOn]="visibleObject.day && visibleObject.day.includes(days.Sun)" class="schedule-day">
          <span class="title">{{('LOTTERIES.VIEW.'+days.Sun)|translate}}</span>
          <br>
          <p *ngIf="visibleObject.day && visibleObject.day.includes(days.Sun)">{{visibleObject.openTime}}
            <br>{{'LOTTERIES.VIEW.TO'|translate}}<br>{{visibleObject.closeTime}}</p>
        </div>
      </div>
    </ng-container>
  </ng-template>

</div>
