<div>
  <nz-table #table
            [nzData]="bankings"
            [nzPageSize]="10"
            [nzScroll]="{ x: '700px' }"
            [nzSize]="'small'"
            nzLoading="false"
            nzTableLayout="auto">
    <thead>
    <tr>
      <th *ngFor="let column of columns" [nzWidth]="column.width">
        <span [nz-tooltip]="column.tooltip | translate">{{column.title | translate}}</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of table.data">
      <td class="table-td" *ngFor="let column of columns" [class.red]="column.type === 'numeric' && data[column.key] < 0">
        {{column.prefix}}{{data[column.key]}}
      </td>
    </tr>
    </tbody>
    <tfoot *ngIf="table && table.data.length > 0">
    <tr>
      <td class="tableFooter" *ngFor="let column of columns" [class.red]="column.type === 'numeric' && getColumnTotal(column.key) < 0">
        <ng-container *ngIf="column.sum">
          {{column.prefix}}{{getColumnTotal(column.key)}}
        </ng-container>
        <ng-container *ngIf="column.titleFooter">
          {{column.titleFooter | translate}}
        </ng-container>
      </td>
    </tr>
    </tfoot>
  </nz-table>
</div>
