<div class="fit-height mb-20" style="min-height: 300px;">
  <app-abm [columns]="columns"
           [fetcher]="fetcher"
           [customColumns]="customColumns"
           [title]="'TRANSACTIONS.TITLE'">
  </app-abm>

  <ng-template let-column let-data="data" #customColumns>
    <ng-container [ngSwitch]="column.component">
      <span *ngSwitchCase="'amount'" [class.red]="column.type === 'numeric' && data[column.key] < 0">${{data[column.key]}}</span>
    </ng-container>
  </ng-template>

</div>
