<app-page-loader-bouncing [loading]="loading"></app-page-loader-bouncing>
<div class="inner-content">
  <nz-page-header [nzGhost]="false" class="page-header">
    <nz-page-header-title>{{title | translate}}</nz-page-header-title>
    <nz-page-header-extra>
      <!--<button nz-button>Operation</button>-->
      <button (click)="onAdd()" *ngIf="fetcherCreate" nz-button nzType="primary">{{'UTILS.NEW' | translate}}</button>
    </nz-page-header-extra>
    <nz-page-header-content>
      <nz-descriptions [nzBordered]="false" nzSize="small">
        <nz-descriptions-item [nzSpan]="3" nzTitle="{{'UTILS.QUANTITY' | translate}}">
          {{dataDisplayed.length}}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>

  <nz-table #basicTable [nzData]="dataDisplayed" [nzScroll]="{ x: '700px' }" [nzSize]="'small'">
    <thead>
    <tr>
      <th *ngFor="let column of columns" [class.numeric]="column.type === 'numeric'"
          class="table-th">
        {{column.title | translate}}
        <ng-container *ngIf="column.showSearch">
          <nz-filter-trigger [(nzVisible)]="visibleFilter[column.key]"
                             [nzActive]="filterValue[column.key] && filterValue[column.key].length > 0"
                             [nzDropdownMenu]="filterMenu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
          <nz-dropdown-menu #filterMenu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input [(ngModel)]="filterValue[column.key]" nz-input [placeholder]="'UTILS.SEARCH'|translate" type="text"/>
                <button (click)="search(column.key)" class="search-button" nz-button nzSize="small" nzType="primary">
                  {{'UTILS.SEARCH'|translate}}
                </button>
                <button (click)="reset(column.key)" nz-button nzSize="small">{{'UTILS.CLEAN'|translate}}</button>
              </div>
            </div>
          </nz-dropdown-menu>
        </ng-container>
      </th>
      <th>{{'UTILS.ACTIONS' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td *ngFor="let column of columns" [class.numeric]="column.type === 'numeric'" class="table-td">
        {{ column.valueFormatter ? column.valueFormatter(item, column) : getValueKey(item, column.key) }}
      </td>
      <td>
        <i (click)="extraButton.onClick && extraButton.onClick(item)" *ngFor="let extraButton of extraButtons" [nz-tooltip]="extraButton.tooltip | translate"
           [nzType]="extraButton.icon"
           class="action-icon"
           nz-icon
           nzTheme="outline"></i>
        <i (click)="openView(item)" [nz-tooltip]="'UTILS.DETAIL' | translate" class="action-icon" nz-icon nzTheme="outline"
           nzType="eye"></i>
        <i (click)="onEdit(item)" *ngIf="fetcherUpdate" [nz-tooltip]="'UTILS.EDIT' | translate" class="action-icon" nz-icon
           nzTheme="outline"
           nzType="edit"></i>
        <i (click)="onDelete(item)" *ngIf="fetcherDelete" [nz-tooltip]="'UTILS.DELETE' | translate" class="action-icon red"
           nz-icon
           nzTheme="outline" nzType="delete"></i>
      </td>
    </tr>
    </tbody>
  </nz-table>

</div>


<nz-drawer
  (nzOnClose)="onCancel()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="footerTplForm"
  [nzMaskClosable]="true"
  [nzMaskStyle]="{ backgroundColor: '#0000006e' }"
  [nzTitle]="(mode === 'C'?'UTILS.NEW':'UTILS.EDIT') | translate"
  [nzVisible]="visibleForm"
  [nzWidth]="500"
>
  <div>
    <ng-container *ngTemplateOutlet="formTemplate; context: {$implicit: mode, visibleObject: visibleObject}">
    </ng-container>

    <ng-template #footerTplForm>
      <div style="float: right">
        <button (click)="onCancel()" [disabled]="loadingSave" nz-button
                style="margin-right: 8px;">{{'UTILS.CANCEL'|translate}}</button>
        <button (click)="onSave()" [disabled]="form && !form.valid || loadingSave" [nzLoading]="loadingSave" nz-button
                nzType="primary">{{'UTILS.SAVE'|translate}}</button>
      </div>
    </ng-template>
  </div>
</nz-drawer>


<nz-drawer
  (nzOnClose)="onCancelView()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzTitle]="'UTILS.DETAIL' | translate"
  [nzVisible]="visibleView"
  [nzWidth]="720"
>
  <div>
    <ng-container *ngTemplateOutlet="viewTemplate; context: {$implicit: visibleObject}">
    </ng-container>
  </div>
</nz-drawer>

