<nz-spin nzTip="{{'UTILS.LOADING' | translate}}" [nzSpinning]="loading">
  <div class="inner-content">
    <nz-page-header [nzGhost]="false" class="page-header">
      <nz-page-header-title>{{title | translate}}</nz-page-header-title>
      <nz-page-header-extra>
        <!--<button nz-button>Operation</button>-->
        <button nz-button nzType="primary" (click)="onAdd()">{{'UTILS.NEW' | translate}}</button>
      </nz-page-header-extra>
      <nz-page-header-content>
        <nz-descriptions nzSize="small" [nzColumn]="3">
          <nz-descriptions-item nzTitle="{{'UTILS.AMOUNT' | translate}}" [nzSpan]="3">
            {{data.length}}
          </nz-descriptions-item>
        </nz-descriptions>
      </nz-page-header-content>
    </nz-page-header>

    <nz-table #basicTable [nzData]="data">
      <thead>
      <tr>
        <th class="table-th" [class.numeric]="column.type === 'numeric'"
            *ngFor="let column of columns">{{column.title | translate}}</th>
        <th>{{'UTILS.ACTIONS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td class="table-td" *ngFor="let column of columns" [class.numeric]="column.type === 'numeric'">
          {{ column.valueFormatter ? column.valueFormatter(item, column) : item[column.key] }}
        </td>
        <td>
          <i nz-icon nzType="eye" [nz-tooltip]="'UTILS.DETAIL' | translate" (click)="openView(item)" class="action-icon" nzTheme="outline"></i>
          <i nz-icon nzType="edit" [nz-tooltip]="'UTILS.EDIT' | translate" (click)="onEdit(item)" class="action-icon" nzTheme="outline"></i>
          <i nz-icon nzType="delete" [nz-tooltip]="'UTILS.DELETE' | translate" (click)="onDelete(item)" class="action-icon red" nzTheme="outline"></i>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-spin>


<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visibleForm"
  [nzTitle]="(mode === 'C'?'UTILS.NEW':'UTILS.EDIT') | translate"
  [nzFooter]="footerTplForm"
  (nzOnClose)="onCancel()"
>
  <div>
    <ng-container *ngTemplateOutlet="formTemplate">
    </ng-container>

    <ng-template #footerTplForm>
      <div style="float: right">
        <button nz-button style="margin-right: 8px;" [disabled]="loadingSave" (click)="onCancel()">{{'UTILS.CANCEL'|translate}}</button>
        <button nz-button nzType="primary" [nzLoading]="loadingSave" [disabled]="!form.valid || loadingSave" (click)="onSave()">{{'UTILS.SAVE'|translate}}</button>
      </div>
    </ng-template>
  </div>
</nz-drawer>


<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visibleView"
  [nzTitle]="'UTILS.DETAIL' | translate"
  (nzOnClose)="onCancelView()"
>
  <div>
    <ng-container *ngTemplateOutlet="viewTemplate; context: {$implicit: visibleObject}">
    </ng-container>
  </div>
</nz-drawer>

