$Primary: #BB86FC;
$PrimaryLight: #d7b8fd;
$PrimaryVariant: #3700B3;
$Secondary: #03DAC6;
$SecondaryLight: #14fce6;
$DarkBlack: #121212;
$DarkGrey: #1f1f1f;
$Grey: #757575;
$Error: #CF6679;
$White: #FFFFFF;
$LightWhite: #f0f2f5;
$Black: #000000;
$DarkBlue: #001529;
$DarkBlue2: #000c17;
$Orange: #e8d711;


$headerHeight: 50px;
$borderRadius: 5px;
$boxShadow: 0px 1px 4px 0px #00000090;





// Content
.inner-content {
  padding: 24px;
  background: #fff;
}

.fit-height{
  height: fit-content;
}
// Margins
.mb-20 {
  margin-bottom: 20px;
}

.form-element {
  padding: 5px 0;
}


.button-link{
  color: #064882;
  text-decoration: underline;
  margin: 10px 0;
  cursor: pointer;
}
