<div class="inner-content fit-height mb-20" style="min-height: 300px;">
  <app-abm [columns]="columns"
           [defaultForm]="defaultForm"
           [fetcherCreate]="fetcherCreate"
           [fetcherDelete]="fetcherDelete"
           [fetcherUpdate]="fetcherUpdate"
           [fetcher]="fetcher"
           [formTemplate]="formTemplate"
           [form]="formABM"
           [getValidators]="getValidators"
           [parseData]="parseData"
           [setValueForm]="setValueForm"
           [title]="'HOME.BANKINGS.TITLE'"
           [viewTemplate]="viewTemplate">
  </app-abm>


  <ng-template #formTemplate let-mode>
    <form [formGroup]="formABM">

      <nz-divider [nzText]="'Datos de la banca'" class="title" nzOrientation="left" style="margin-top: 0"></nz-divider>

      <div class="form-element">
        <label for="name">
          {{'Nombre'|translate}}
        </label>
        <input formControlName="name" id="name" nz-input type="text">
      </div>

      <div class="form-element">
        <label for="status">
          {{'Estado'|translate}}
        </label>
        <nz-switch formControlName="status" id="status" style="padding-left: 10px"></nz-switch>
      </div>

      <div class="form-element">
        <label for="showPercentage">
          {{'Mostrar porcentage de cuadre de caja'|translate}}
        </label>
        <nz-switch formControlName="showPercentage" id="showPercentage" style="padding-left: 10px"></nz-switch>
      </div>


      <div *ngIf="this.user?.role === this.userRole.Admin" class="form-element">
        <label for="selectedConsortium">
          {{'Consorcio'|translate}}
        </label>
        <nz-select formControlName="selectedConsortium" id="selectedConsortium">
          <nz-option *ngFor="let option of consortiums" [nzLabel]="option.name" [nzValue]="option._id"></nz-option>
        </nz-select>
      </div>

      <nz-divider [nzText]="'Datos de inicio de sesion'" class="title" nzOrientation="left"></nz-divider>

      <div>
        <label for="ownerName">
          {{'Nombre del dueño'|translate}}
        </label>
        <input formControlName="ownerName" id="ownerName" nz-input type="text">
      </div>

      <div>
        <label for="username">
          {{'SETTINGS.USERS.COLUMNS.USERNAME'|translate}}
        </label>
        <input [minLength]="4" formControlName="username" id="username" nz-input type="text">
      </div>

      <ng-container>
        <label for="password">
          {{'SETTINGS.USERS.COLUMNS.PASSWORD'|translate}}
        </label>
        <input [maxLength]="35" [minLength]="8" formControlName="password" id="password" nz-input type="text">
      </ng-container>

    </form>
  </ng-template>

  <ng-template #viewTemplate let-visibleObject>
    <ng-container *ngIf="visibleObject">
      <div>
          <span>
            {{'Nombre'|translate}}
          </span>
        {{visibleObject.name}}
      </div>

      <div>
          <span>
            {{'HOME.BANKINGS.BANKING.STATUS'|translate}}
          </span>
        {{visibleObject.status}}
      </div>

      <div>
          <span>
            {{'HOME.BANKINGS.BANKING.LANGUAGE'|translate}}
          </span>
        {{visibleObject.language}}
      </div>
    </ng-container>
  </ng-template>

</div>
