<div class="inner-content fit-height mb-20" style="min-height: 300px;">
  <app-abm [columns]="columns"
           [defaultForm]="defaultForm"
           [fetcherCreate]="fetcherCreate"
           [fetcherDelete]="fetcherDelete"
           [fetcherUpdate]="fetcherUpdate"
           [fetcher]="fetcher"
           [formTemplate]="formTemplate"
           [form]="formABM"
           [getValidators]="getValidators"
           [parseData]="parseData"
           [setValueForm]="setValueForm"
           [title]="'BANKINGS.TITLE'"
           [viewTemplate]="viewTemplate">
  </app-abm>

  <ng-template #formTemplate let-mode let-visibleObject="visibleObject">
    <form [formGroup]="formABM">
      <nz-divider [nzText]="'BANKINGS.CREATE.BANKING_DATA'|translate" class="title" nzOrientation="left" style="margin-top: 0"></nz-divider>
      <div class="form-element">
        <label for="name">
          {{'BANKINGS.CREATE.NAME'|translate}}
        </label>
        <input formControlName="name" id="name" nz-input type="text">
      </div>

      <div class="form-element">
        <label for="status">
          {{'BANKINGS.CREATE.STATUS'|translate}}
        </label>
        <nz-switch formControlName="status" id="status" style="padding-left: 10px"></nz-switch>
      </div>

      <div class="form-element">
        <nz-input-group class="add-on-input" id="percentage" nzAddOnBefore="{{'BANKINGS.CREATE.SHOW_PERCENTAGE'|translate}}">
          <div nz-row>
            <div class="container-switch" nz-col nzSpan="8">
              <nz-switch formControlName="showPercentage" nzSize="small"></nz-switch>
            </div>
            <div nz-col nzSpan="16">
              <nz-input-number
                [nzMin]="0"
                [nzMax]="100"
                formControlName="earningPercentage"
                style="width:100%">
              </nz-input-number>
            </div>
          </div>
        </nz-input-group>
      </div>

      <div class="form-element">
        <label for="selectedConsortium">
          {{'BANKINGS.CREATE.CONSORTIUM'|translate}}
        </label>
        <nz-select formControlName="selectedConsortium" id="selectedConsortium">
          <nz-option *ngFor="let option of consortiums" [nzLabel]="option.name" [nzValue]="option._id"></nz-option>
        </nz-select>
      </div>

      <div class="form-element">
        <label for="cancellationTime">
          {{'BANKINGS.CREATE.CANCELLATION_TIME'|translate}}
        </label>
        <nz-input-number
          [nzMin]="0"
          id="cancellationTime"
          formControlName="cancellationTime"
          style="width:100%">
        </nz-input-number>
      </div>

      <nz-divider [nzText]="'BANKINGS.CREATE.TICKET_DATA'|translate" class="title" nzOrientation="left"></nz-divider>
      <div>
        <label for="header">
          {{'BANKINGS.CREATE.HEADER'|translate}}
        </label>
        <input id="header" formControlName="header" nz-input type="text">
      </div>

      <div>
        <label for="footer">
          {{'BANKINGS.CREATE.FOOTER'|translate}}
        </label>
        <input id="footer" formControlName="footer" nz-input type="text">
      </div>


      <nz-divider [nzText]="'BANKINGS.CREATE.USER_DATA'|translate" class="title" nzOrientation="left"></nz-divider>

      <div>
        <label for="ownerName">
          {{'BANKINGS.CREATE.OWNER_NAME'|translate}}
        </label>
        <input formControlName="ownerName" id="ownerName" nz-input type="text">
      </div>

      <div>
        <label for="username">
          {{'BANKINGS.CREATE.USERNAME'|translate}}
        </label>
        <input [minLength]="4" formControlName="username" id="username" nz-input type="text">
      </div>

      <ng-container *ngIf="mode === 'C'">
        <label for="password">
          {{'BANKINGS.CREATE.PASSWORD'|translate}}
        </label>
        <input [maxLength]="35" [minLength]="8" formControlName="password" id="password" nz-input type="text">
      </ng-container>

      <ng-container *ngIf="mode === 'U'">
        <p class="button-link" (click)="changePassword(visibleObject.ownerUserId)">{{'BANKINGS.CREATE.CHANGE_PASSWORD'|translate}}</p>
      </ng-container>

    </form>
  </ng-template>

  <ng-template #viewTemplate let-visibleObject>
    <ng-container *ngIf="visibleObject">

      <nz-divider [nzText]="'BANKINGS.VIEW.BANKING_DATA'|translate" class="title" nzOrientation="left"></nz-divider>
      <nz-descriptions>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.NAME'|translate">
          {{visibleObject.name}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.STATUS'|translate">
          {{(visibleObject.status) ? ('BANKINGS.VIEW.ENABLED'| translate) : ('BANKINGS.VIEW.DISABLED' | translate)}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.CONSORTIUM'| translate">
          {{getConsortiumName(visibleObject.consortiumId)}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.SHOW_PERCENTAGE'| translate">
          {{(visibleObject.showPercentage) ? ('BANKINGS.VIEW.ENABLED'| translate) : ('BANKINGS.VIEW.DISABLED' | translate)}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.PERCENTAGE'| translate">
          {{visibleObject.earningPercentage}}%
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-divider [nzText]="'BANKINGS.VIEW.TICKET_DATA'|translate" class="title" nzOrientation="left"></nz-divider>
      <nz-descriptions>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.HEADER'| translate">
          {{visibleObject.header}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.FOOTER'| translate">
          {{visibleObject.footer}}
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-divider [nzText]="'BANKINGS.VIEW.USER_DATA'|translate" class="title" nzOrientation="left"></nz-divider>
      <nz-descriptions>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.OWNER_NAME'| translate">
          {{visibleObject.ownerName}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'BANKINGS.VIEW.USERNAME'| translate">
          {{visibleObject.ownerUsername}}
        </nz-descriptions-item>
      </nz-descriptions>
    </ng-container>
  </ng-template>

</div>
